
{% extends "customer_loggedin_base.html" %}

{% block content %}
    
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        
                            
                            <form action='/Add Pet information' method="POST">

                                {{ form.hidden_tag() }}
                            <p>
                                <div class="form-group row">
                                    <span class="col-lg-4 col-form-label" data-lang="petname">{{ form.Pname.label }}</span>
                                    <span class="text-danger">*</span>
                                    <br>
                                    <div class="col-lg-6">
                                    {{ form.Pname(class="form-control") }}</div>
                                    {% for error in form.Pname.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}<br>
                                </div>
                            </p>
                            <br>
                            <p>
                                <div class="form-group row">
                                        <span class="col-lg-4 col-form-label" data-lang="petage"></span>
                                        <span class="text-danger">*</span>
                                    <br>
                                    <div class="col-lg-6">
                                    <input class="form-control" type="text" name = "age" ></div></div>
                                    
                            </p>
                            <br>
                            <p>
                                <div class="form-group row">
                                        <span class="col-lg-4 col-form-label" data-lang="petsex">{{ form.Psex .label }}</span>
                                        <span class="text-danger">*</span>
                                    <br>
                                    <div class="col-lg-6">
                                    
                                    <input type="radio" name="sex" id="male" value="1" checked='checked'><label for="male" data-lang="male"></label> <br>
                                    <input type="radio" name="sex" id="female" value="2" ><label for="female" data-lang="female"></label> <br></div></div>
                                        
                                    

                                
                                    {% for error in form.Psex .errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                            </p>
                            <br>
                            <p>
                                <div class="form-group row">
                                        <span class="col-lg-4 col-form-label" data-lang="pettype">{{ form.Pspecies.label }}</span>
                                        <span class="text-danger">*</span>
                                    <br>
                                    <div class="col-lg-6">
                                    
                                    <input type="radio" name="species" id="cat" value="cat" checked='checked'><label for="cat" data-lang="cat"></label> <br>
                                    <input type="radio" name="species" id="dog" value="dog" ><label for="dog" data-lang="dog"></label> <br></div></div>
                                        
                                

                                    {% for error in form.Pspecies.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                            </p>
                            <br>
                            <p>
                                <div class="form-group row">
                                        <span class="col-lg-4 col-form-label" data-lang="petinfor">{{ form.Pinfo.label }}</span>
                                        <span class="text-danger">*</span>
                                    <br>
                                    <div class="col-lg-6">
                                    {{ form.Pinfo(class="form-control") }}</div>
                                    {% for error in form.Pinfo.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}<br></div>
                            </p>
                            <br><br><br>
                            
                            <!-- {{ form.submit(class="btn btn-primary", id="s") }}
                            -->
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <button class="btn btn-primary" type="submit" data-lang='submit'></button>
                                    </div>
                            </div>
                            <br>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
</body>
</html>