<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pet Information</title>
</head>
<body>
    {% extends "customer_loggedin_base.html" %}

 {% block content %}
    
 <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <h2 >{{ information }}</h2>
                            {% from 'macros.html' import form_field %}
                            <h2 align="center">{{ mes }}</h2>
                        
                            
                            <form class="form-valide" action="" method="post" novalidate>
                                {{ form.hidden_tag() }}
                            <p>
                                    <div id="Pname">
                                    <span data-lang="petname">{{ form.Pname.label }}</span>
                                    <br>{{ form.Pname(size=32) }}</div>
                                    {% for error in form.Pname.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}<br>
                            </p>
                            <p>
                                    <div id="Page">
                                        <span data-lang="petage">{{ form.Page.label }}</span>
                                    <br>
                                    {{ form.Page(size=32) }}
                                    
                                </div>
                                    {% for error in form.Page.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}<br>
                            </p>
                            <p>
                                    <div id="Psex ">
                                        <span data-lang="petsex">{{ form.Psex .label }}</span>
                                    <br>
                                    {{ form.Psex (size=32) }}
                                    
                        <!-- <input type="radio" name="pet_gender" id="pet_gender1" value="1"  ><label for="pet_gender1" data-lang="male"></label>
                        <input type="radio" name="pet_gender" id="pet_gender2" value="2"  ><label for="pet_gender2" data-lang="female"></label><br />
                         -->
                                </div>
                                    {% for error in form.Psex .errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}<br>
                            </p>
                            <p>
                                    <div id="Pspecies ">
                                        <span data-lang="pettype">{{ form.Pspecies.label }}</span>
                                    <br>{{ form.Pspecies(size=32) }}</div>
                                    {% for error in form.Pspecies.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}<br>
                            </p>
                            <p>
                                    <div id="Pinfo">
                                        <span data-lang="petinfor">{{ form.Pinfo.label }}</span>
                                    <br>{{ form.Pinfo(size=32) }}</div>
                                    </div>
                                    {% for error in form.Pinfo.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}<br>
                            </p>
                            <br>
                           
                            <!-- {{ form.submit(class="btn btn-primary", id="s") }}
                             -->

                            <button data-lang="submit" type="submit" class="btn btn-primary">
                            
                            <br>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
</body>
</html>