
{% block title %}
    <title>Modify Appointment</title>
{% endblock %}
{% block content %}

   <form1 action="{{ url_for('AddPrescription',id=id) }}" method="post" enctype="multipart/form-data">
   {{ form1.csrf_token }}
         {{ form1.hidden_tag() }}
      <p>
         <div class="form-group">
            {{ form1.medicine.label }}<br>
            {{ form1.medicine(size=32) }}
         </div>
			{% for error in form1.medicine.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </p>
      <p>
         <div class="form-group">
            {{ form1.number.label }}<br>
            {{ form1.number(size=32) }}
         </div>
			{% for error in form1.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
      </p><br>
 {{ form1.submit.label }}<br>{{ form1.submit }}<br>
    </form1>
<form2 action="{{ url_for('AddPrescription',id=id) }}" method="post" enctype="multipart/form-data">
   {{ form2.csrf_token }}
         {{ form2.hidden_tag() }}
      <p>
         <div class="form-group">
            {{ form2.medicine.label }}<br>
            {{ form2.medicine(size=32) }}
         </div>
			{% for error in form2.medicine.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </p>
      <p>
         <div class="form-group">
            {{ form2.number.label }}<br>
            {{ form2.number(size=32) }}
         </div>
			{% for error in form2.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
      </p><br>
 {{ form2.submit.label }}<br>{{ form2.submit }}<br>

    </form2>
<form3 action="{{ url_for('AddPrescription',id=id) }}" method="post" enctype="multipart/form-data">
   {{ form3.csrf_token }}
         {{ form3.hidden_tag() }}
      <p>
         <div class="form-group">
            {{ form3.medicine.label }}<br>
            {{ form3.medicine(size=32) }}
         </div>
			{% for error in form3.medicine.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </p>
      <p>
         <div class="form-group">
            {{ form3.number.label }}<br>
            {{ form3.number(size=32) }}
         </div>
			{% for error in form3.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
      </p><br>
 {{ form3.submit.label }}<br>{{ form3.submit }}<br>

    </form3>
{% endblock %}
