<h1>Admin Product</h1>
<a href="{{ url_for('addproduct') }}">Add product</a>><br>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Price</th>
		<th>Infomation</th>
		<th>AddDate</th>
	</tr>
	</thead>
	<tbody>
	{% for Good in goods %}
		<tr>
		<td>{{ Good.id }}</td>
		<td>{{ Good.Gname }}</td>
		<td>{{ Good.Gprice }}</td>
		<td>{{ Good.Ginfo }}</td>
		<td>{{ Good.Gadddate }}</td>
		<td>
            <a href="{{ url_for('editproduct', id=Good.id) }}">
            <i class="fa fa-pencil"></i> Edit 
            </a>
        </td>
		<td>
            <a href="{{ url_for('deleteproduct', id=Good.id) }}">
            <i class="fa fa-trash"></i> Delete 
            </a>
        </td>
	</tr>
	{% endfor %}
	</tbody>
</table>