{% extends "customer_loggedin_base.html" %}

{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
    {% if emergency_appointments %}
		Emergency Appointments:(Click to edit)<br><hr>
		<ul>
		{% for ea in emergency_appointments %}
			<li>
				Pet Number: {{ ea.Apet }}
                Type:{{ea.Atype}}
                Doctor: {{ea.Adoc}}
                Complete: {{ea.Acomplete}}
                Information:{{ea.Ainfo}}
                Date:{{ea.Adate}}
                Cost:{{ea.Acost}}</a>

            </li>
		{% endfor %}
		</ul>
		<hr>
	{% else %}
		<p>No emergency appointments!</p>
	{% endif %}

	{% if standard_appointments %}
		Standard Appointments:(Click to edit)<br><hr>
		<ul>
		{% for sa in standard_appointments %}
			<li><a href="{{ url_for('ModifyAppointmentEmployee',id=sa.id)}}" >
				Pet Number: {{ sa.Apet }}
                Type:{{sa.Atype}}
                Doctor: {{sa.Adoc}}
                Complete: {{sa.Acomplete}}
                Information:{{sa.Ainfo}}
                Date:{{sa.Adate}}
                Cost:{{sa.Acost}}</a>

            </li>
		{% endfor %}
		</ul>
		<hr>
	{% else %}
		<p>No standard appointments!</p>
	{% endif %}



{% endblock %}
