{% extends "loggedin_index.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
	<div style="background-color: white; width: 70%; margin-left: 200px; box-shadow: gainsboro 2px 2px;
	padding: 20px;">
    {% if emergency_appointments %}
	<h2 style="color: teal;">Emergency Appointments:(Click to edit)</h2><br>
		<ul>
		{% for ea in emergency_appointments %}
			<li style="padding: 10px;"><a href="{{ url_for('ModifyAppointmentEmployee',id=sa.id)}}" >
				Pet Number: {{ ea.Apet }}
                Type:{{ea.Atype}}
                Doctor: {{ea.Adoc}}
                Complete: {{ea.Acomplete}}
                Information:{{ea.Ainfo}}
                Date:{{ea.Adate}}
                Cost:{{ea.Acost}}</a>

            </li>
		{% endfor %}
		</ul>
		<hr>
	{% else %}
		<h4>No emergency appointments!</h4>
	{% endif %}
	</div>

	<div style="background-color: white; width: 70%; margin-left: 200px; box-shadow: gainsboro 2px 2px;
	padding: 20px;">
	{% if standard_appointments %}
	<h2 style="color: teal;">Standard Appointments:(Click to edit)</h2><br>
		<ul>
		{% for sa in standard_appointments %}
			<li style="padding: 10px;"><a href="{{ url_for('ModifyAppointmentEmployee',id=sa.id)}}" >
				Pet Number: {{ sa.Apet }}
                Type:{{sa.Atype}}
                Doctor: {{sa.Adoc}}
                Complete: {{sa.Acomplete}}
                Information:{{sa.Ainfo}}
                Date:{{sa.Adate}}
                Cost:{{sa.Acost}}</a>

            </li>
		{% endfor %}
		</ul>
		<hr>
	{% else %}
	<h4>No standard appointments!</h4>
	{% endif %}
	</div>



{% endblock %}
