{% extends 'employee_loggedin_base.html' %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
	
	<div style="background-color: white; width: 70%; margin-left: 200px; box-shadow: gainsboro 2px 2px;
	padding: 20px;">
	{% if emergency_appointments %}
		<h2 style="color: teal;" data-lang="emergencyappointmentsclicktoedit"></h2><br>
		<ul>
		{% for ea in emergency_appointments %}
			<li style="padding: 10px;">
				<span data-lang="petnumber"></span>: {{ ea.Apet }}
                <span data-lang="type"></span>:{{ea.Atype}}
                <span data-lang="doctor"></span>: {{ea.Adoc}}
                <span data-lang="complete"></span>: {{ea.Acomplete}}
                <span data-lang="information"></span>:{{ea.Ainfo}}
                <span data-lang="date"></span>:{{ea.Adate}}
				<br>
				<div style="float: right;">
                <button><a href={{url_for('AddPrescription',id=sa.id)}} data-lang="prescription"></a> </button>
                <button><a href={{url_for('AddOperation',id=sa.id)}} data-lang="operation"></a> </button>
                <button><a href={{url_for('AddHospitalization',id=sa.id)}} data-lang="hospitalization"></a> </button>
				</div>
            </li>
		{% endfor %}
		</ul>
		
	{% else %}
		<h4 data-lang="noemergencyappointments">!</h4>
	{% endif %}
	</div>

	
	<div style="background-color: white; width: 70%; margin-left: 200px; box-shadow: gainsboro 2px 2px;
	padding: 20px;">
	{% if standard_appointments %}
		<h2 style="color: teal;" data-lang="standardappointmentsclicktoedit"></h2><br>
		<ul>
		{% for sa in standard_appointments %}
			<li style="padding: 10px;">
				<span data-lang="petnumber"></span>: {{ sa.Apet }}
                <span data-lang="type"></span>:{{sa.Atype}}
                <span data-lang="doctor"></span>: {{sa.Adoc}}
                <span data-lang="complete"></span>: {{sa.Acomplete}}
                <span data-lang="information"></span>:{{sa.Ainfo}}
                <span data-lang="date"></span>:{{sa.Adate}}
				<br>
				<div style="float: right;">
                <button><a href={{url_for('AddPrescription',id=sa.id)}} data-lang="prescription"></a> </button>
                <button><a href={{url_for('AddOperation',id=sa.id)}} data-lang="operation"></a> </button>
                <button><a href={{url_for('AddHospitalization',id=sa.id)}} data-lang="hospitalization"></a> </button>
				</div>

            </li>
		{% endfor %}
		</ul>
		
		
	{% else %}
		<h4 data-lang="nostandardappointments">!</h4>
	{% endif %}
	</div>



{% endblock %}