<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <<link rel="stylesheet" type="text/css" href="../static/style/home.css">

        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>pet</title>
        {% endif %}
</head>
<body>
<div id="bg">
            <div id="navi"><h1> 治愈之爪 <br> 兽医医院 </h1></div>
            <div id="navibar">

            <ul id="barr" aria-orientation="horizontal">
                <li><a id="cus" href="{{ url_for('customer_mainpage_chinese') }}">顾客     </a></li>
                <li><a id="emp" href="{{ url_for('employee_mainpage_chinese') }}">雇员 </a></li>
            </ul>
            <ul id="bar" aria-orientation="horizontal">
                <!-- <div id="navibar" aria-orientation="horizontal" align="center"> -->
                <li><a href="pets_tips.html">宠物提示</a></li>
                <li><a href="pet_shop.html">宠物商店</a></li>
                <li><a href="about_us.html">关于</a></li>
                <li ><a id="homebtn" href="{{ url_for('index') }}">主页</a></li>
                <!-- </div> -->
            </ul>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <br>
        {% block content %}{% endblock %}


<div id="bottom">
    <br><br><br><br><br>
    <p><strong>联系我们</strong>
        <br><br>治愈之爪 兽医医院
        <br>603 汉普顿 普安特 大道, 套间 603-5
        <br>希尔斯堡, 合格证 27278
    </p>
    <p>
        <br><br>电话: 919-245-3437
        <br>传真: 919-245-3502
        <br>邮箱: healingpaws@thevetspets.com
    </p>
</div>

<br><br><br><br><br><br><br><br>
<p style=" color: gray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin:auto;">
    |  © 治愈之爪 兽医医院 2020</p>

    <br><br><br><br><br><br>


</body>
</html>