{% extends 'customer_loggedin_base.html' %}
{% block content %}

<h1 data-lang="buy"></h1>

	<table>
		<tr>
			<th data-lang="image"></th>
			<th data-lang="name"></th>
			<th data-lang="price"></th>
			<th data-lang="number"></th>
		</tr>
		{% for Good in goods %}
		<tr>
			<td>
				<img src="{{ url_for('static', filename= './img/photos/' + Good.Gimage) }}" width="100" height="100">
			</td>
			<td>{{ Good.Gname }}</td>
			<td>{{ Good.Gprice }}</td>
			<td>{{ Good.Gnumber }}</td>
		</tr>
		{% endfor %}
	</table>


<form method="post" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<p>
		{{ form.Oname.label }}<br>
		{{ form.Oname }}
	</p>
	<p>
		{{ form.Oaddress.label }}<br>
		{{ form.Oaddress }}
	</p>
	<p>
		{{ form.Ophonenumber.label }}<br>
		{{ form.Ophonenumber }}
	</p>
	{{ form.submit() }}
</form>

{% endblock %}