<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style/home.css">
</head>
<body>
<div id="bg">
    <div id="navi"><h1>Healing Paws <br>Veterinary Hospital</h1></div>
    <div id="navibar">

    <ul  id="barr" aria-orientation="horizontal" width>
        <li><a id="cus" href="{{ url_for('index_chinese') }}">中文 </a></li>

        <li><a id="emp" href="{{ url_for('index') }}">English </a></li>
    </ul>
    <!--<ul id="bar" aria-orientation="horizontal">-->
        <!-- <div id="navibar" aria-orientation="horizontal" align="center"> -->
       <!-- <li><a href="pets_tips.html">Pets Tips</a></li>-->
        <!--<li><a href="pet_shop.html">Pets Shop</a></li>-->
        <!--<li><a href="about_us.html">About Us</a></li>-->
        <!--<li ><a id="homebtn" href="{{ url_for('index') }}">Home</a></li>-->
        <!-- </div> -->
    <!--</ul>-->
    </div>
</div>
<img id="img0" src="../static/style/main1.jpg" width="70%" >

<div id="bottom">
    <br><br><br><br><br>
    <p><strong>Contact Us</strong>
        <br><br>Healing Paws Veterinary Hospital
        <br>603 Hampton Pointe Blvd, Suite 603-5
        <br>Hillsborough, NC 27278
    </p>
    <p>
        <br><br>Phone: 919-245-3437
        <br>Fax: 919-245-3502
        <br>Email: healingpaws@thevetspets.com
    </p>
</div>

<br><br><br><br><br><br><br><br>
<p style=" color: gray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin:auto;">
    |  © Healing Paws Veterinary Hospital 2020</p>

    <br><br><br><br><br><br>



</body>
</html>