{% extends 'customer_loggedin_base.html' %}
{% block content %}

		<br><hr>
		<ul>
			<li>
                <p>
                     <div class="form-group">
                            {% for choice in form.complete %}
                                <tr>
                                    <td>{{ choice }}</td>
                                    <td>{{ choice.label }}</td>
                                </tr>
                            {% endfor %}
                     </div>
                            {% for error in form.complete.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                </p>
                {{ form.submit.label }}<br>{{ form.submit }}<br>

            </li>
		</ul>




{% endblock %}
