{% extends "customer_loggedin_base.html" %}
{% block content %}
<strong data-lang="anyquestions"> </strong>
      <button  onclick="window.location.href='{{url_for('customer_add_post_chinese')}}'" data-lang="writepost"></button>


<form  action="{{ url_for('customer_posts') }}" method="post" novalidate role="form" enctype="multipart/form-data">
    <h2 data-lang="unreadposts"></h2>

    {% if unread_posts %}
        {% for unread_post in unread_posts%}
        <div class="text">
            <h3 data-lang="posttopic">: {{unread_post.Ptopic}}</h3></a>
            <small data-lang="postdate">: {{unread_post.Pdate}}</small>
        <a href="/customer_posts/{{unread_post.id}}" data-lang="view"></a>
        </div>
        {% endfor %}
    {% else %}
        <p data-lang="noposts"></p>
    {% endif %}

    {% if read_posts %}
        <h2 data-lang="readposts"> </h2>
        {% for read_post in read_posts%}
        <div class="text">
                    <h3 data-lang="posttopic">: {{read_post.Ptopic}}</h3></a>
                    <small data-lang="postdate">: {{read_post.Pdate}}</small>
        </div>
        <a href="/customer_posts/{{read_post.id}}" data-lang="viewanswer"></a>
        {% endfor %}
    {% else %}
        <p data-lang="noposts"></p>
    {% endif %}
</form>


{% endblock %}