<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
{% block content %}

 <form action='/My Pets/edit_pet/{{pet.id}}' method="POST">
    <label data-lang="petname">: </label>
    <input type="text" name="name" value="{{pet.Pname}}"><br>
       <label data-lang="petage">: </label>
    <input type="text" name="age" value="{{pet.Page}}"><br>
    <label data-lang="petgender1formale2forfemale"></label>
    <input type="text" name="gender" value="{{pet.Psex}}"><br>
       <label data-lang="petspecies">: </label><br>
     <input type="radio" name="species" value="cat" data-lang="cat">
            <input type="radio"  name="species" value="dog" data-lang="dog"><br>

    <label data-lang="petinformation"> </label>
    <input type="text" name="information" value="{{pet.Pinfo}}"><br>
  <input type="submit" value="Submit">
   </form>
{% endblock %}
</body>
</html>