{% extends 'customer_loggedin_base.html' %}
{% block title %}
    <title>Modify Appointment</title>
{% endblock %}
{% block content %}

<span data-lang="appointmentid"></span>: {{appoint.id}}<br>
<span data-lang="operationid"></span>: {{operation.id}}<br>
<span data-lang="operationdoctor"></span>: {{doc.Dname}}<br>
<span data-lang="operationdate"></span>: {{operation.Odate}}<br>
<span data-lang="operationinformation"></span>: {{operation.Oinf}}<br>
<span data-lang="operationcost"></span>: {{operation.Ocost}}<br>

<form action="/customer_my_appointments/operation/{{appoint.id}}" method="POST">
    <input type="submit" value="Allow">
</form>


{% endblock %}