{% extends 'customer_loggedin_base.html' %}
{% block title %}
    <title>Modify Appointment</title>
{% endblock %}
{% block content %}
<form action="/customer_my_appointments/edit_appo/{{appoint.id}}" method="POST">

    <label>Appointment type：(0 for emergency, 1 for standard) </label>
    <input type="text" name="type" value="{{appoint.Atype}}"><br>
    <label>Appointment Datetime(format: YYYY-MM-DD-HH-MM)</label>
    <input type="text" name="date" value="{{appoint.Adate}}"><br>
       <label>Apointment Location</label>
    <input list="locationlist" name="location" value="{{appoint.Alocation}}">
		<datalist id="locationlist">
		    <option value="Shanghai">
            <option value="Beijing">
            <option value="Chengdu">
		</datalist><br>
    <label>Apointment Doctor</label>
    <input list="doctorlist" name="doctor" value="{{doc.Dname}}">
		<datalist id="doctorlist">
            {% for d in doctors%}
		    <option value={{d.Dname}}>
            {% endfor %}
		</datalist><br>

        <label>Other Description</label>
    <input type="text" name="information" value="{{appoint.Ainfo}}"><br>
    <input type="submit" value="Submit">
   </form>
{% endblock %}