{% extends 'customer_loggedin_base.html' %}
{% block content %}

 <form action='/My Pets/edit_pet/{{pet.id}}' method="POST">
    <label data-lang="petname">: </label>
    <input type="text" name="name" value="{{pet.Pname}}"><br>
       <label data-lang="petage">: </label>
    <input type="text" name="age" value="{{pet.Page}}" pattern="[0-9]{2}"><br>
    <br>
   {% if pet.Psex=='1'%}
   <input type="radio" name="gender" value="1" id="male" checked="checked"><label for="male" data-lang="male" ></label>
   <input type="radio"  name="gender" value="2" id="female"><label for="female" data-lang="female" ></label><br>
   {% else %}
   <input type="radio" name="gender" value="1" id="male" ><label for="male" data-lang="male" ></label>
   <input type="radio"  name="gender" value="2" id="female" checked="checked"><label for="female" data-lang="female" ></label><br>
   {% endif %}

   {% if pet.Pspecies =='cat'%}

     <input type="radio" name="species" value="cat" id="cat" checked="checked"><label for="cat" data-lang="cat" ></label>
            <input type="radio"  name="species" value="dog" id="dog"><label for="dog" data-lang="dog" ></label><br>
            {% else %}
            <input type="radio" name="species" value="cat" id="cat"><label for="cat" data-lang="cat" ></label>
            <input type="radio"  name="species" value="dog" id="dog"checked="checked"><label for="dog" data-lang="dog" ></label><br>
            {% endif %}

    <label data-lang="petinformation"> </label>
    <input type="text" name="information" value="{{pet.Pinfo}}"><br>
  <input type="submit" value="Update">
   </form>
{% endblock %}
</body>
</html>