{% extends 'customer_loggedin_base.html' %}
{% block title %}
    <title>Modify Appointment</title>
{% endblock %}
{% block content %}
<form action="/customer_my_appointments/edit_appo/{{appoint.id}}" method="POST">

    <label data-lang="appointmenttype0foremergency1forstandard"></label>
    <input type="text" name="type" value="{{appoint.Atype}}"><br>
    <label data-lang="appointmentdatetimeformatYYYY-MM-DD-HH-MM"></label>
    <input type="text" name="date" value="{{appoint.Adate}}"><br>
       <label data-lang="apointmentlocation"></label>
    <input list="locationlist" name="location" value="{{appoint.Alocation}}">
		<datalist id="locationlist">
		    <option value="Shanghai">
            <option value="Beijing">
            <option value="Chengdu">
		</datalist><br>
    <label data-lang="apointmentdoctor"></label>
    <input list="doctorlist" name="doctor" value="{{doc.Dname}}">
		<datalist id="doctorlist">
            {% for d in doctors%}
		    <option value={{d.Dname}}>
            {% endfor %}
		</datalist><br>

        <label data-lang="otherdescription"></label>
    <input type="text" name="information" value="{{appoint.Ainfo}}"><br>
    <input type="submit" value="Submit">
   </form>

   
{% endblock %}