<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="../static/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="../static/./images/logo-compact.png" alt="" width="80%"></span>
                    <span class="brand-title">
                        <img src="../static/images/logo-text.png" alt="" width="80%">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="header-right">
                    <ul class="clearfix">
                        
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <i class="icon-menu"></i>
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                                <span data-lang="language"></span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()" data-lang="english"></a></li>
                                        <li><a href="javascript:void()" data-lang="chinese"></a></li>
                                        <li><button id="J_lang_switch" data-lang="change"></button></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label" data-lang="customer"></li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text" data-lang="pets"></span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('add_pet_information')}}" data-lang="addnewpets"></a></li>
                            <li><a href="{{ url_for('customer_my_pets')}}">My Pets</a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Appointment</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('make_appointment')}}">Make an Appointment</a></li>
                            <li><a href="{{ url_for('customer_my_appointments')}}">My Appointments</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Post</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('customer_add_post') }}">Add a New Post</a></li>
                            <li><a href="{{ url_for('customer_posts') }}">My Posts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i> <span class="nav-text">Store</span>
                        </a>
                        <ul aria-expanded="false">
                            
                            <li><a href="{{ url_for('shoppage') }}">View Products</a></li>
                            <li><a href="{{ url_for('shopcart') }}">Shop Cart</a></li>
                            <li><a href="{{ url_for('orders') }}">Orders</a></li>
                        </ul>
                    </li>
                    <br><br><br>
                    <br><br><br>
                    <li>
                        <a href="{{url_for('logoutCustomer')}}" class="btn mb-1 btn-outline-primary">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            
            <!-- row -->

            <div class="container-fluid">
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <br>
                {% block content %}{% endblock %}
                
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by Group 7 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../static/plugins/common/common.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/gleek.js"></script>
    <script src="../static/js/styleSwitcher.js"></script>

     <!-- I18N -->
     <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
     <script src="../static/js/jquery.i18n.properties-1.0.9.js"></script>
     <script>
     var language_pack = {
         now_lang : 0, // 0:ch,1:en
         loadProperties : function(new_lang){
             var self = this;
             var tmp_lang = '';
             if(new_lang == 0){
                 tmp_lang = 'zh';
                 $('body').removeClass('en').addClass('zh');
             }else{
                 tmp_lang = 'en';
                 $('body').removeClass('zh').addClass('en');
             }
             jQuery.i18n.properties({//加载资浏览器语言对应的资源文件
                 name: 'strings', //资源文件名称
                 path:'../static/i18n/', //资源文件路径
                 language: tmp_lang,
                 cache: false,
                 mode:'map', //用Map的方式使用资源文件中的值
                 callback: function() {//加载成功后设置显示内容
                     for(var i in $.i18n.map){
                         $('[data-lang="'+i+'"]').text($.i18n.map[i]);
                     }
                     // document.title = $.i18n.map['string_title'];
                 }
             });
             self.now_lang = new_lang;
         }
     }
     $(document).ready(function(){
         language_pack.loadProperties(0);
         
         $('#J_lang_switch').click(function(){
             var new_lang;
             if(language_pack.now_lang == 0){
                 new_lang = 1;
             }else{
                 new_lang = 0;
             }
             language_pack.loadProperties(new_lang);
         });
     });
     </script>
</body>

</html>