<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
{% extends "base_chinese.html" %}
{% block content %}
<h2 >{{ mes }}</h2>
      <button  onclick="window.location.href='{{url_for('add_pet_information_chinese')}}'">添加宠物.</button>

<h4>{{ pets|length}} 您的宠物:</h4>

<table class="table">
                            <tbody>

								<tr>
									<th>宠物编号</th>
									<th>宠物名字</th>
									<th>宠物性别</th>
									<th>宠物种类 </th>
									<th>宠物信息 </th>
                                    <th>编辑 </th>
                                    <th>删除 </th>
                                </tr>


                                {% for pet in pets%}
                                <tr>
                                    <td align="center">{{pet.id}}</td>
                                    <td align="center">{{pet.Pname}}</td>
                                     {% if pet.Psex == '1' %}
                                    <td align="center">Male</td>
                                    {% elif pet.Psex == '2' %}
                                    <td align="center">Female</td>
                                    {% endif %}
                                    <td align="center">{{pet.Pspecies}}</td>
                                    <td align="center">{{pet.Pinfo}}</td>
                                    <td align="center">
                                        <button  onclick="window.location.href='/My Pets/edit_pet_chinese/{{pet.id}}'">编辑</button>
									</td>
                                    <td align="center">

 <a href="{{ url_for('customer_delete_pet_chinese', id=pet.id) }}"><button >删除</button>

            </a>
									</td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

{% endblock %}
</body>
<script>

function delete_pet(id){
		alert("delete Successfully");
		form=document.getElementById("Delete");
		form.action="/My Pets/delete_pet/"+id;
		form.method="post";
		form.submit();

	}

</script>
</html>