<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<h2 >{{ mes }}</h2>
      <button  onclick="window.location.href='{{url_for('add_pet_information')}}'">Add a pet.</button>

<h4>{{ pets|length}} pets:</h4>

<table class="table">
                            <tbody>

								<tr>
									<th>Pet ID</th>
									<th>Pet Name</th>
									<th>Pet Gender</th>
									<th>Pet Species </th>
									<th>Information </th>
                                    <th>Edit </th>
                                    <th>Delete </th>
                                </tr>


                                {% for pet in pets%}
                                <tr>
                                    <td align="center">{{pet.id}}</td>
                                    <td align="center">{{pet.Pname}}</td>
                                     {% if pet.Psex == '1' %}
                                    <td align="center">Male</td>
                                    {% elif pet.Psex == '2' %}
                                    <td align="center">Female</td>
                                    {% endif %}
                                    <td align="center">{{pet.Pspecies}}</td>
                                    <td align="center">{{pet.Pinfo}}</td>
                                    <td align="center">
                                        <button  onclick="window.location.href='/My Pets/edit_pet/{{pet.id}}'">Edit</button>
									</td>
                                    <td align="center">
                                        <button  onclick="window.location.href='/My Pets/delete_pet/{{pet.id}}'" >Delete</button>

									</td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

{% endblock %}
</body>
<script>

function delete_pet(id){
		alert("delete Successfully");
		form=document.getElementById("Delete");
		form.action="/My Pets/delete_pet/"+id;
		form.method="post";
		form.submit();

	}

</script>
</html>