{% extends 'base_chinese.html' %}
{% block title %}
    <title>修改预约</title>
{% endblock %}
{% block content %}
<form action="/customer_my_appointments/edit_appo/{{appoint.id}}" method="POST">

    <label>预约类型：(0 是紧急, 1 是标准) </label>
    <input type="text" name="type" value="{{appoint.Atype}}"><br>
    <label>预约日期(格式: YYYY-MM-DD-HH-MM)</label>
    <input type="text" name="date" value="{{appoint.Adate}}"><br>
       <label>预约位置</label>
    <input list="locationlist" name="location" value="{{appoint.Alocation}}">
		<datalist id="locationlist">
		    <option value="Shanghai">
            <option value="Beijing">
            <option value="Chengdu">
		</datalist><br>
    <label>预约医生</label>
    <input list="doctorlist" name="doctor" value="{{doc.Dname}}">
		<datalist id="doctorlist">
            {% for d in doctors%}
		    <option value={{d.Dname}}>
            {% endfor %}
		</datalist><br>

        <label>其他描述</label>
    <input type="text" name="information" value="{{appoint.Ainfo}}"><br>
    <input type="submit" value="Submit">
   </form>
{% endblock %}