{% extends "base.html" %}

{% block content %}

   <strong>Do you have any post?</strong>

    <h3>Your post</h3>

<form style="margin-left: 500px;" action="{{ url_for('customer_add_post') }}" method="post" novalidate role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        <div class="form-group">
        {{ form.topic.label }}<br>
        {{ form.topic}}
        {% for error in form.topic.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
        </div>
    </p>
    <p>
    <div class="form-group">
    {{ form.content.label(class="form-control-label")  }}
    {{ form.content(size=1500, rows="3") }}
    {% for error in form.content.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
</div>
    </p>

    <div class="form-group">
        {{ form.submit }}
    </div>




</form>

{% endblock %}