
{% extends "customer_loggedin_base.html" %}
{% block content %}
                <div class="container-fluid">
                           
                            <!-- <div class="col-lg-6"> -->
                                <div class="card">
                                    <div class="card-body">
                                        
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered zero-configuration">
                                                <thead>
                                                    <tr>
                                                        <th data-lang="petid"></th>
                                                        <th data-lang="petname"></th>
                                                        <th data-lang="petgender"></th>
                                                        <th data-lang="petspecies"> </th>
                                                        <th data-lang="information"> </th>
                                                        <th data-lang="edit"> </th>
                                                        <th data-lang="delete"> </th>
                                                    </tr>
                    
                    
                                                </thead>
                                                <tbody>
                    
                                    
                    
                                                    {% for pet in pets%}
                                                    <tr>
                                                        <td align="center">{{pet.id}}</td>
                                                        <td align="center">{{pet.Pname}}</td>

                                                         {% if pet.Psex == '1' %}
                                                        <td align="center" data-lang="male"></td>
                                                        {% elif pet.Psex == '2' %}
                                                        <td align="center" data-lang="female"></td>
                                                        {% endif %}
                                                        
                                                        
                                                        {% if pet.Pspecies == 'cat' %}
                                                        <td align="center" data-lang="cat"></td>
                                                        {% elif pet.Pspecies == 'dog' %}
                                                        <td align="center" data-lang="dog"></td>
                                                        {% endif %}

                                                        
                                                        
                                                        <td align="center">{{pet.Pinfo}}</td>
                                                        
                                                        

                                                        <td align="center">
                                                            <a class="btn mb-1 btn-rounded btn-outline-primary" href="{{ url_for('customer_edit_pet', id=pet.id) }} "data-lang="edit"></a>
                                                        </td>
                                                        <td align="center">
                                                            <a class="btn mb-1 btn-rounded btn-outline-primary" href="{{ url_for('customer_delete_pet', id=pet.id) }}" data-lang="delete">
                                                            </a>
                                                        </td>
                    
                                                    </tr>
                                                    {% endfor %}
                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                            </div>
                            
{% endblock %}

