{% extends 'customer_loggedin_base.html' %}
{% block title %}
    <title>Release</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
       
            <div class="card">
                <div class="card-body">
<form action="/customer_my_appointments/release/{{appoint.id}}" method="POST">
    <h4 data-lang="saysay"></h4> 
    <br><br>

    <button class="btn btn-primary" type="submit" data-lang='comehome'></button>
    
</form>
</div>
</div>
</div>
<div class="row"></div>
</div>

{% endblock %}