{% extends 'customer_loggedin_base.html' %}
{% block content %}
<div class="container-fluid">

	
		    <div class="row">
			  <div class="col-md-6 col-lg-3">
				<div class="card">
				    <img   src="{{ url_for('static', filename= './img/photos/' + good.Gimage) }}" alt="" width="240" height="240">
				    <div class="card-body">
					  

					<h4 data-lang="name"></h4>
					<div>{{ good.Gname }}</div><br>
					<h4 data-lang="information"></h4>
					<div>{{ good.Ginfo }}</div><br>
					<h4 data-lang="price"></h4>
					<div>{{ good.Gprice }}</div><br>
					<h4 data-lang="adddate"></h4>
					<div>{{ good.Gadddate }}</div>


</div>
<div class="card-footer">
    
    <form method="post" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<p><span data-lang="number">&nbsp;&nbsp;</span>{{ form.number }}</p><br>
	<button class="btn btn-primary" type="submit" data-lang='submit'></button>
</form>
</div>
</div>
</div>
</div>

</div>

{% endblock %}
