{% extends 'customer_loggedin_base.html' %}
{% block content %}

<h1 data-lang="detail"></h1>
<img src="{{ url_for('static', filename= './img/photos/' + good.Gimage) }}" width="240" height="240">
<div data-lang="name"></div>
<div>{{ good.Gname }}</div>
<div data-lang="information"></div>
<div>{{ good.Ginfo }}</div>
<div data-lang="price"></div>
<div>{{ good.Gprice }}</div>
<div data-lang="adddate"></div>
<div>{{ good.Gadddate }}</div>
<form method="post" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	<p>{{ form.number }}</p><br>
	{{ form.submit() }}
</form>

{% endblock %}
