<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style/home.css">
</head>
<body>

	<div id="bg">
		<div class="navi"><h1>Healing Paws <br>Veterinary Hospital</h1></div>
		<div class="navibar">
		
		<ul aria-orientation="horizontal">
			<li><a id="cus" href="{{ url_for('customer_mainpage') }}">Customer </a></li>
			<li><a id="emp" href="{{ url_for('employee_mainpage') }}">Employee </a></li>
		</ul>
		<ul id="bar" aria-orientation="horizontal">
			<!-- <div id="navibar" aria-orientation="horizontal" align="center"> -->
			<li><a href="pets_tips.html">Pets Tips</a></li>
			<li><a href="pet_shop.html">Pets Shop</a></li>
			<li><a href="about_us.html">About Us</a></li>
			<li ><a id="homebtn" href="home_default.html">Home</a></li>
			<!-- </div> -->
		</ul>
		
		</div>
	</div>

    <h1>Editproduct</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
 		<p>
 			{{ form.Gid.label }}<br>
 			{{ form.Gid }}
 		</p>
 		<p>
 			{{ form.Gname.label }}<br>
 			{{ form.Gname }}
 		</p>
 		<p>
 			{{ form.Ginfo.label }}<br>
 			{{ form.Ginfo }}
 		</p>
 		<p>
 			{{ form.photo.label }}<br>
 			{{ form.photo() }}
        	{% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span>
        	{% endfor %}
 		</p>
 		<p>
 			{{ form.Gprice.label }}<br>
 			{{ form.Gprice }}
 		</p>
        <p>
 			{{ form.Gadddate.label }}<br>
 			{{ form.Gadddate }}
 		</p>
        {{ form.submit() }}
    </form>
    {% if img_url %}
        <img src="{{ img_url }}" />
    {% endif %}
</body>
</html>