{% extends 'employee_loggedin_base.html' %}
{% block content %}
<div class="container-fluid">

	<div class="row justify-content-center" >
	    <div class="col-lg-12"></div>
		  <div class="card">
			<div class="card-body" >
			    <div class="form-validation">
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
 		<p>
			<span data-lang="goodid">{{ form.Gid.label }}</span><br>
 			{{ form.Gid }}
 		</p>
 		<p>
			<span data-lang="goodname">{{ form.Gname.label }}</span><br>
 			{{ form.Gname }}
 		</p>
 		<p>
			<span data-lang="information">{{ form.Ginfo.label }}</span><br>
 			{{ form.Ginfo }}
 		</p>
 		<p>
			<span data-lang="file">{{ form.photo.label }}</span><br>
 			{{ form.photo() }}
        	{% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span>
        	{% endfor %}
 		</p>
 		<p>
			<span data-lang="goodp">{{ form.Gprice.label }}</span><br>
 			{{ form.Gprice }}
 		</p>
        <p>
	<span data-lang="date">{{ form.Gadddate.label }}</span><br>
 			{{ form.Gadddate }}
 		</p>
		 <button class="btn btn-primary" type="submit" data-lang='submit'></button>
    </form>
    {% if img_url %}
        <img src="{{ img_url }}" />
    {% endif %}
 </div>
 </div>
 </div>
 </div>
 </div>
 
{% endblock %}