{% extends "base_chinese.html" %}
{% block content %}
<strong>单机问题可以查看细节并且回答客户问题.</strong><br>
<form style="margin-left: 500px;" action="{{ url_for('employee_posts') }}" method="post" novalidate role="form" enctype="multipart/form-data">
    {% if unread_posts %}
        <table class="table">
            <caption><h3>待回答的问题</h3></caption>
            <thead>
            <tr>
                <th width="50%">主题</th>
                <th width="50%">日期</th>
            </tr>
            </thead>
            <tbody>
            {% for unread_post in unread_posts %}
            <tr onclick="location.href='/employee_post_detail/{{unread_post.id}}'">
                <td>{{unread_post.Ptopic}}</td>
                <td>{{unread_post.Pdate}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>暂时没有问题</p>
    {% endif %}
    {% if read_posts %}
        <table class="table">
            <caption><h3>读取留言</h3></caption>
            <thead>
            <tr>
                <th width="50%">主题</th>
                <th width="50%">日期</th>
            </tr>
            </thead>
            <tbody>
            {% for read_post in read_posts%}
            <tr onclick="location.href='/employee_post_detail/{{read_post.id}}'">
                <td>{{read_post.Ptopic}}</td>
                <td>{{read_posts.Pdate}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
    <p>暂时没有留言</p>

    {% endif %}

</form>


{% endblock %}