<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style/home.css">
</head>
<body>
<div>
    <div id="bg">
        <div class="navi"><h1>Healing Paws <br>Veterinary Hospital</h1></div>
        <div class="navibar">
        
        <ul aria-orientation="horizontal">
            <li><a id="cus" href="{{ url_for('customer_mainpage') }}">Customer </a></li>
            <li><a id="emp" href="{{ url_for('employee_mainpage') }}">Employee </a></li>
        </ul>
        <ul id="bar" aria-orientation="horizontal">
            <!-- <div id="navibar" aria-orientation="horizontal" align="center"> -->
            <li><a href="pets_tips.html">Pets Tips</a></li>
            <li><a href="pet_shop.html">Pets Shop</a></li>
            <li><a href="about_us.html">About Us</a></li>
            <li ><a id="homebtn" href="{{ url_for('index') }}">Home</a></li>
            <!-- </div> -->
        </ul>
        
        </div>
    </div>
</div>
<h1 style="color: orange;">Employee, Welcome Back!</h1>
<div >
<ul style="display: inline-block; margin-left: 20%;">
    <li><img src="../static/style/inIcon.png" width="200px" height="200px"></li>
    <br/>
    <li> 
    <a href="{{ url_for('loginEmployee') }}" 
     style="text-decoration: none; font-size: x-large; float: right;">
        Log in </a>
    </li>    
</ul>
<ul style="display: inline-block; margin-left: 20%;">     
    <li><img src="../static/style/upIcon.svg"width="200px" height="200px"></li>
    <br/>
    <li> 
    <a href="{{ url_for('signupEmployee') }}" 
     style="text-decoration: none; font-size: x-large; float: right;">
        Sign up </a>
    </li>    
</ul>
</div>
</body>
</html>