{% extends 'employee_loggedin_base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                       {% if customers %}
                        <h4 class="card-title">Customers:</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Customer ID</th>
                                        <th>Name</th>
                                        <th>Gender </th>
                                        <th>Phone </th>
                                        <th>Email </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                   {% for c in customers %}
                                         <tr>
                                            <td align="center">{{c.id}}</td>
                                            <td align="center">{{c.Cname}}</td>
                                             <td align="center">{{c.Cgender}}</td>
                                            <td align="center">{{c.Cphone}}</td>
                                            <td align="center">{{c.Cemail}}</td>
                                         </tr>
                                   {% endfor %}
                                    </tbody>
                               
                            </table>
                        </div>
                        {% else %}
                        <h4 class="card-title">No customers!</h4>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
