{% extends "base.html" %}
{% block content %}
<strong>Click question to check detail and answer it.</strong><br>
<form style="margin-left: 500px;" action="{{ url_for('employee_posts') }}" method="post" novalidate role="form" enctype="multipart/form-data">
    {% if unread_posts %}
        <table class="table">
            <caption><h3>Unanswered Questions</h3></caption>
            <thead>
            <tr>
                <th width="50%">Topic</th>
                <th width="50%">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for unread_post in unread_posts %}
            <tr onclick="location.href='/employee_post_detail/{{unread_post.id}}'">
                <td>{{unread_post.Ptopic}}</td>
                <td>{{unread_post.Pdate}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No posts</p>
    {% endif %}
    {% if read_posts %}
        <table class="table">
            <caption><h3>Read Posts</h3></caption>
            <thead>
            <tr>
                <th width="50%">Topic</th>
                <th width="50%">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for read_post in read_posts%}
            <tr onclick="location.href='/employee_post_detail/{{read_post.id}}'">
                <td>{{read_post.Ptopic}}</td>
                <td>{{read_posts.Pdate}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
    <p>No read posts</p>

    {% endif %}

</form>


{% endblock %}