{% extends"employee_loggedin_base.html" %}

{% block content %}


    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title"><h1>< {{post.Ptopic}} ></h1></h1>
                        <div class="bootstrap-media">
                            <div class="media">
                                
                                <div class="media-body">
                                    
                                    <h3>{{post.Pcontent}}</h3>
                                    <small align="right">{{post.Pdate}}</small>
                                    <br/><br/>
                                        {% if answer %}
                                            <small data-lang="answer"></small>
                                            {% for a in answer %}
                                                <h4>{{a.Acontent}}</h4>
                                                <small align="right">{{a.Adate}}</small>
                                            {% endfor %}

                                        {% else %}

                                            <h4 data-lang="pleaseanswerthepost"></h4>
                                            <button onclick="window.location.href='/employee_posts/employee_answer_post/{{post.id}}'" data-lang="answer"></button>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}