{% extends "employee_loggedin_base.html" %}
{% block content %}
<h1 data-lang="viewthedetailofthisappointment"></h1>
<h3 data-lang="appointmentid">: {{appoint.id}}<br>

        <span data-lang="appointmenttype">:</span>
        {% if appoint.Atype=='1'%}
            <span data-lang="standard">:</span>
        {% elif appoint.Atype == '0' %}
            <span data-lang="emergent">:</span>
        {% endif %}<br>
<span data-lang="appointmentlocation">: {{appoint.Alocation}}</span><br>
    <b data-lang="appointmentpet">: </b>{{pet.Pname}}<br>
    <b data-lang="appointmentcustomer">: </b>{{customer.Cname}}<br>

    <b data-lang="appointmentdoctor">: </b>{{doc.Dname}}<br>
    <b data-lang="appointmentinformation">:  </b>{{appoint.Ainfo}}<br>
    <b data-lang="appointmentdate">: </b>{{appoint.Adate}}<br>
    <b data-lang="appointmentout-patientsatus">:</b>
        {% if appoint.Astart=='1'%}
            <span data-lang="checkedin"></span>
        {% elif appoint.Astart == '0' %}
            <span data-lang="uncheckin"></span>
        {% endif %}<br>
    <b data-lang="appointmentoperationsatus">: </b> {{appoint.OperationStatus}}<br>
    <b data-lang="appointmentin-patientsatus">: </b>{{appoint.HospitalizationStatus}}<br>

</h3>

{% endblock %}

