{% extends"employee_loggedin_base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for key, error in form.errors.items() %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <h3>{{post.title}}</h3>

    <div>
        {{post.content}}
    </div>
<form style="margin-left: 500px;" action="{{ url_for('employee_answer_post',id = id) }}" method="post" novalidate role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.content.label  }}
        {{ form.content }}
        {% for error in form.content.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit }}
    </div>
</form>
{% endblock %}