{% extends 'base_chinese.html' %}
{% block content %}
<br><br><br><br><br><br><br>

    {% if appoints  %}
		门诊预约:<br><hr>

            <table class="table">
                <tbody>
                <tr>
                    <th>手术单号</th>
                    <th>主人</th>
                    <th>宠物 </th>
                    <th>日期 </th>
                    <th>信息 </th>
                    <th>手术状态</th>
                    <th>完成手术 </th>
                </tr>
    {% for a in appoints %}
        {% for o in operations %}
            {%  if o.Oappiiontment==a.id %}
               {% for pet in pets %}
                  {%  if a.Apet==pet.id %}
                     {% for customer in customers%}
                        {%  if pet.Powner==customer.id %}
                     <tr>
                        <td align="center">{{o.id}}</td>
                        <td align="center">{{customer.Cname}}</td>
                        <td align="center">{{pet.Pname}}</td>
                        <td align="center">{{o.Odate}}</td>
                        <td align="center">{{o.Oinfo }}</td>
                        <td align="center">{{a.OperationStatus}}</td>
                         <td align="center">
 <a href="{{ url_for('employee_operation_complete', id=a.id) }}">
             完成手术
            </a>
                        </td>
                     </tr>
                        {% endif %}
                     {% endfor %}
                  {% endif %}
               {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
                </tbody>
            </table>
    {% else %}
		<p>----------------没有需要手术的预约 !</p>
	{% endif %}


{% endblock %}
