<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
{% block content %}

 <form action='/employee_doctorss/add_doctor' method="POST">
    <label data-lang="doctorname">: </label>
    <input type="text" name="name"><br>
       <label data-lang="doctordepartment"> : </label>
    <input type="text" name="department" ><br>
    <label data-lang="doctorphone">: </label>
     <input type="text" name="phone" ><br>
    <label data-lang="doctorlevel">: </label>
     <input type="text" name="level"><br>
     <label data-lang="doctorinformation">: </label>
     <input type="text" name="info"><br>
     <label data-lang="doctorhospital">: </label>
     {% for hospital in hospitals %}
     <input type="radio" name="hospital" value="{{hospital.id}}">{{hospital.Hname}}<br>
     {% endfor %}

  <input type="submit" value="Submit">
   </form>
{% endblock %}
</body>
</html>