{% extends "employee_loggedin_base.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
    <a href="{{ url_for('listproduct') }}" data-lang="start"></a><br>

	<div align="center">
        <br><br><br>
    <a href="{{url_for('employee_appo_checkin')}}" data-lang="check-inoffice"> </a>
    <br><br><br>
       <a href="{{url_for('employee_appo_outpatient')}}" data-lang="out-patientdepartment"></a>
    <br><br><br>
           <a href="{{url_for('employee_appo_inpatient')}}" data-lang="in-patientdepartment"></a>
    <br><br><br>
           <a href="{{url_for('employee_appo_operation')}}" data-lang="operationdepartment"></a>
    <br><br><br>
            <a href="{{url_for('employee_appo_completed')}}" data-lang="completedappointment"></a>
    <br><br><br>
</div>




{% endblock %}

</body>
</html>