{% extends 'employee_loggedin_base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for key, error in form.errors.items() %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {% if doctors %}
                            <h4 data-lang="doctors">:</h4><br><hr>
                            <button class="btn btn-outline-primary" onclick="window.location.href='/employee_doctorss/add_doctor'" data-lang="addadoctor"></button><br>

                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                        <tr>
                                            <th data-lang="doctoeid"></th>
                                            <th data-lang="name"></th>
                                            <th data-lang="phone"> </th>
                                            <th data-lang="level"> </th>
                                            <th data-lang="hospital"> </th>
                                            <th data-lang="information"> </th>
                                            <th data-lang="edit"></th>
                                            <th data-lang="delete"></th>
                                        </tr>
                                    </thead>

                <tbody>
               
               {% for d in doctors %}
                     <tr>
                        <td align="center">{{d.id}}</td>
                        <td align="center">{{d.Dname}}</td>
                         <td align="center">{{d.Dphone}}</td>
                        <td align="center">{{d.Dlevel}}</td>
                        {% for h in hospital %}
                            {% if h.id==d.Dhospital %}
                        <td align="center">{{h.Hname}}</td>
                            {% endif %}
                        {% endfor %}
                        
                         <td align="center">{{d.Dinf}}</td>
                         <td align="center"><button class="btn btn-primary" onclick="window.location.href='/employee_doctorss/edit_doctor/{{d.id}}'" data-lang="edit"></button></td>

                         <td align="center"><button class="btn btn-primary" onclick="window.location.href='/employee_doctors/delete_doctor/{{d.id}}'" data-lang="delete"></button></td>

                     </tr>
               {% endfor %}
                </tbody>
            </table>
            </div>
    {% else %}
		<p data-lang="nodoctors"></p>
	{% endif %}
</div>
</div>
</div>
</div>
</div>


{% endblock %}
