{% extends "employee_loggedin_base.html" %}
{% block content %}
<h1>View the detail of this Appointment</h1>
<h3>Appointment ID: {{appoint.id}}<br>

        Appointment Type:
        {% if appoint.Atype=='1'%}
            Standard
        {% elif appoint.Atype == '0' %}
            Emergent
        {% endif %}<br>
Appointment Location: {{appoint.Alocation}}<br>
    <b>Appointment Pet: </b>{{pet.Pname}}<br>
    <b>Appointment Customer: </b>{{customer.Cname}}<br>

    <b>Appointment Doctor: </b>{{doc.Dname}}<br>
    <b>Appointment Information:  </b>{{appoint.Ainfo}}<br>
    <b>Appointment Date: </b>{{appoint.Adate}}<br>
    <b>Appointment Out-patient Satus:</b>
        {% if appoint.Astart=='1'%}
            Checked in
        {% elif appoint.Astart == '0' %}
            Uncheck in
        {% endif %}<br>
    <b>Appointment Operation Satus: </b> {{appoint.OperationStatus}}<br>
    <b>Appointment In-patient Satus: </b>{{appoint.HospitalizationStatus}}<br>

</h3>

{% endblock %}

