{% extends 'employee_loggedin_base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                       {% if pets %}
                        <h4 class="card-title" data-lang="pets">:</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th data-lang="petid"></th>
                                        <th data-lang="name"></th>
                                        <th data-lang="owner"> </th>
                                        <th data-lang="gender"> </th>
                                        <th data-lang="type"> </th>
                                        <th data-lang="age"> </th>
                                        <th data-lang="information"></th>
                                        <th data-lang="delete"></th>
                    
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                   {% for pet in pets%}
                                         {% for customer in customers%}
                                            {%  if pet.Powner==customer.id %}
                                         <tr>
                                            <td align="center">{{pet.id}}</td>
                                            <td align="center">{{pet.Pname}}</td>
                                             <td align="center">{{customer.Cname}}</td>
                                            <td align="center">{{pet.Psex}}</td>
                                            <td align="center">{{pet.Pspecies}}</td>
                                             <td align="center">{{pet.Page}}</td>
                    
                                            <td align="center">{{ pet.Pinfo }}</td>
                                             <td align="center"><button  onclick="window.location.href='/employee_pets/delete_pet/{{pet.id}}'" data-lang="delete"></button></td>
                                         </tr>
                                            {% endif %}
                                         {% endfor %}
                                   {% endfor %}
                                    </tbody>
                               
                            </table>
                        </div>
                        {% else %}
                        <h4 class="card-title" data-lang="nopets"></h4>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
