{% extends "base_chinese.html" %}
{% block content %}
<h1>查看预约单详情</h1>
<h3>预约单号: {{appoint.id}}<br>

        预约类型:
        {% if appoint.Atype=='1'%}
            标准
        {% elif appoint.Atype == '0' %}
            紧急
        {% endif %}<br>
预约地址: {{appoint.Alocation}}<br>
    <b>Appointment Pet: </b>{{pet.Pname}}<br>
    <b>Appointment Customer: </b>{{customer.Cname}}<br>

    <b>Appointment Doctor: </b>{{doc.Dname}}<br>
    <b>Appointment Information:  </b>{{appoint.Ainfo}}<br>
    <b>Appointment Date: </b>{{appoint.Adate}}<br>
    <b>Appointment Out-patient Satus:</b>
        {% if appoint.Astart=='1'%}
            已检查
        {% elif appoint.Astart == '0' %}
            未检查
        {% endif %}<br>
    <b>预约手术状态: </b> {{appoint.OperationStatus}}<br>
    <b>预约住院状态: </b>{{appoint.HospitalizationStatus}}<br>

</h3>

{% endblock %}

