{% extends 'employee_loggedin_base.html' %}
{% block title %}
    <title>{{title}}</title>
{% endblock %}
{% block content %}


   <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                     {% if Iappointments %}
                      <h4 class="card-title">Inpatient Appointments:</h4>
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered zero-configuration">
                              <thead>
                                 <tr>
                                    <th>Appointment ID</th>
                                    <th>Owner</th>
                                    <th>Pet </th>
                                    <th>Location </th>
                                    <th>Date </th>
                                    <th>Information </th>
                                    <th>Operation Status</th>
                                    <th>Inpatient Status</th>
                                    <th>Release</th>
                                </tr>
                              </thead>
                              <tbody>
                                 {% for a in Iappointments%}
               {% for pet in pets%}
                  {%  if a.Apet==pet.id %}
                     {% for customer in customers%}
                        {%  if pet.Powner==customer.id %}
                     <tr>

                        <td align="center">{{a.id}}</td>
                        <td align="center">{{customer.Cname}}</td>
                        <td align="center">{{pet.Pname}}</td>
                        <td align="center">{{a.Alocation}}</td>
                        <td align="center">{{a.Adate}}</td>
                        <td align="center">{{ a.Ainfo }}</td>
                        <td align="center">{{a.OperationStatus}}</td>
                        <td align="center">{{ a.HospitalizationStatus }}</td>
                        <td align="center"><a href="{{ url_for('employee_inpatient_release', id=a.id) }}">
                           Inform Release</a>
                        </td>

                     </tr>
                        {% endif %}
                     {% endfor %}
                  {% endif %}
               {% endfor %}
            {% endfor %}
                           </tbody>
                             
                          </table>
                      </div>
                      {% else %}
                      <h4 class="card-title">No appointments need to inform for releasing!</h4>
                       {% endif %}
                      
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
         <div class="col-12">
             <div class="card">
                 <div class="card-body">
                    {% if Rappointments %}
                     <h4 class="card-title">Inpatient Appointments:</h4>
                     <div class="table-responsive">
                         <table class="table table-striped table-bordered zero-configuration">
                             <thead>
                              <tr>
                                 <th>Appointment ID</th>
                                 <th>Owner</th>
                                 <th>Pet </th>
                                 <th>Location </th>
                                 <th>Date </th>
                                 <th>Information </th>
                                 <th>Operation Status</th>
                                 <th>Inpatient Status</th>
                                 <th>finish </th>
                                 <th>Release</th>
                             </tr>
                             </thead>
                             <tbody>
                              
                          {% for a in Rappointments%}
                             {% for pet in pets%}
                                {%  if a.Apet==pet.id %}
                                   {% for customer in customers%}
                                      {%  if pet.Powner==customer.id %}
                                   <tr>
              
                                      <td align="center">{{a.id}}</td>
                                      <td align="center">{{customer.Cname}}</td>
                                      <td align="center">{{pet.Pname}}</td>
                                      <td align="center">{{a.Alocation}}</td>
                                      <td align="center">{{a.Adate}}</td>
                                      <td align="center">{{ a.Ainfo }}</td>
                                      <td align="center">{{a.OperationStatus}}</td>
                                      <td align="center">{{ a.HospitalizationStatus }}</td>
                                       <td align="center">
               <a href="{{ url_for('employee_inpatient_releasecomplete', id=a.id) }}">
                           Complete
                          </a>
                                      </td>
              
                                   </tr>
                                      {% endif %}
                                   {% endfor %}
                                {% endif %}
                             {% endfor %}
                          {% endfor %}
                              </tbody>
                            
                         </table>
                     </div>
                     {% else %}
                     <h4 class="card-title">No appointments ready to release!</h4>
                      {% endif %}
                     
                 </div>
             </div>
         </div>
     </div>

     <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                 {% if Wappointments %}
                  <h4 class="card-title">Inpatient Appointments waiting for permission:</h4>
                  <div class="table-responsive">
                      <table class="table table-striped table-bordered zero-configuration">
                          <thead>
                           <tr>
                              <th>Appointment ID</th>
                              <th>Owner</th>
                              <th>Pet </th>
                              <th>Location </th>
                              <th>Date </th>
                              <th>Information </th>
                              <th>Operation Status</th>
                              <th>Inpatient Status</th>
                          </tr>
                          </thead>
                          <tbody>
                           
                       {% for a in Wappointments%}
                          {% for pet in pets%}
                             {%  if a.Apet==pet.id %}
                                {% for customer in customers%}
                                   {%  if pet.Powner==customer.id %}
                                <tr>
           
                                   <td align="center">{{a.id}}</td>
                                   <td align="center">{{customer.Cname}}</td>
                                   <td align="center">{{pet.Pname}}</td>
                                   <td align="center">{{a.Alocation}}</td>
                                   <td align="center">{{a.Adate}}</td>
                                   <td align="center">{{ a.Ainfo }}</td>
                                   <td align="center">{{a.OperationStatus}}</td>
                                   <td align="center">{{ a.HospitalizationStatus }}</td>
                                </tr>
                                   {% endif %}
                                {% endfor %}
                             {% endif %}
                          {% endfor %}
                       {% endfor %}
                           </tbody>
                         
                      </table>
                  </div>
                  {% else %}
                  <h4 class="card-title">No appointments waiting for permission!</h4>
                   {% endif %}
                  
              </div>
          </div>
      </div>
  </div>
  </div>

{% endblock %}
