{% extends "base_chinese.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
    <a href="{{ url_for('listproduct_chinese') }}">货物列表</a><br>

	<div align="center">
        <br><br><br>
            <a href="{{url_for('employee_appo_checkin_chinese')}}">报到柜台 </a>
    <br><br><br>
            <a href="{{url_for('employee_appo_outpatient_chinese')}}">门诊部门</a>
    <br><br><br>
           <a href="{{url_for('employee_appo_inpatient_chinese')}}">住院部门</a>
    <br><br><br>
           <a href="{{url_for('employee_appo_operation_chinese')}}">手术部门</a>
    <br><br><br>
            <a href="{{url_for('employee_appo_completed_chinese')}}">完成预约</a>
    <br><br><br>
</div>




{% endblock %}

</body>
</html>