<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
{% block content %}

 <form action='/employee_doctorss/edit_doctor/{{doc.id}}' method="POST">
    <label data-lang="doctorname">: </label>
    <input type="text" name="name" value="{{doc.Dname}}"><br>
       <label data-lang="doctordepartment"> : </label>
    <input type="text" name="department" value="{{doc.department}}"><br>
    <label data-lang="doctorphone">: </label>
     <input type="text" name="phone" value="{{doc.Dphone}}"><br>
    <label data-lang="doctorlevel">: </label>
     <input type="text" name="level" value="{{doc.Dlevel}}"><br>
     <label data-lang="doctorinformation">: </label>
     <input type="text" name="info" value="{{doc.Dinf}}"><br>
     <label data-lang="doctorhospital">: </label>
     {% for hospital in hospitals %}
     <input type="radio" name="hospital" value="{{hospital.id}}">{{hospital.Hname}}<br>
     {% endfor %}

  <input type="submit" value="Submit">
   </form>
{% endblock %}
</body>
</html>