<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
{% block content %}

 <form action='/employee_doctorss/edit_doctor/{{doc.id}}' method="POST">
    <label>Doctor Name: </label>
    <input type="text" name="name" value="{{doc.Dname}}"><br>
       <label> Doctor Department: </label>
    <input type="text" name="department" value="{{doc.department}}"><br>
    <label>Doctor Phone: </label>
     <input type="text" name="phone" value="{{doc.Dphone}}"><br>
    <label>Doctor Level: </label>
     <input type="text" name="level" value="{{doc.Dlevel}}"><br>
     <label>Doctor Information: </label>
     <input type="text" name="info" value="{{doc.Dinf}}"><br>
     <label>Doctor Hospital: </label>
     {% for hospital in hospitals %}
     <input type="radio" name="hospital" value="{{hospital.id}}">{{hospital.Hname}}<br>
     {% endfor %}

  <input type="submit" value="Submit">
   </form>
{% endblock %}
</body>
</html>