{% extends"employee_loggedin_base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for key, error in form.errors.items() %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <div class="container-fluid">
            <!-- End Row -->
       
               
                <div class="card">
                          <div class="card-body">
                            <div class="form-validation">
<form  action="{{ url_for('employee_answer_post',id = id) }}" method="post" novalidate role="form" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
        <span data-lang="content">{{ form.content.label  }}</span><br>
        {{ form.content }}
        {% for error in form.content.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    
    
        <br><br>
        <button class="btn btn-primary" type="submit" data-lang='submit'></button>
        
   
</form>
</div>
</div>
</div>

</div>

{% endblock %}