{% extends 'base_chinese.html' %}
{% block content %}
<br><br><br><br><br><br><br>

    {% if appointments %}
		门诊预约:<br><hr>

            <table class="table">
                <tbody>
                <tr>
                    <th>预约单号</th>
                    <th>主人</th>
                    <th>宠物 </th>
                    <th>位置 </th>
                    <th>日期 </th>
                    <th>信息 </th>
                    <th>手术状态</th>
                    <th>住院状态</th>
                    <th>完成 </th>
                    <th>手术</th>
                    <th>住院</th>
                </tr>
            {% for a in appointments%}
               {% for pet in pets%}
                  {%  if a.Apet==pet.id %}
                     {% for customer in customers%}
                        {%  if pet.Powner==customer.id %}
                     <tr>

                        <td align="center">{{a.id}}</td>
                        <td align="center">{{customer.Cname}}</td>
                        <td align="center">{{pet.Pname}}</td>
                        <td align="center">{{a.Alocation}}</td>
                        <td align="center">{{a.Adate}}</td>
                        <td align="center">{{ a.Ainfo }}</td>
                        <td align="center">{{a.OperationStatus}}</td>
                        <td align="center">{{ a.HospitalizationStatus }}</td>
                         <td align="center">
 <a href="{{ url_for('employee_outpatient_finish', id=a.id) }}">
             完成
            </a>
                        </td>
                        <td align="center">
                            <button  onclick="window.location.href='/employee_appo_outpatient/operation/{{a.id}}'" >手术</button>

                        </td>
                        <td align="center">
                            <button  onclick="window.location.href='/employee_appo_outpatient/inpatient/{{a.id}}'" >住院</button>

                        </td>

                     </tr>
                        {% endif %}
                     {% endfor %}
                  {% endif %}
               {% endfor %}
            {% endfor %}
                </tbody>
            </table>
    {% else %}
		<p>----------------没有需要门诊的预约 !</p>
	{% endif %}


{% endblock %}
