<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Employee</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!-- Custom Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/summernote/dist/summernote.css') }}" rel="stylesheet">
    
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/">
                    <b class="logo-abbr"><img src="{{ url_for('static', filename='images/logo.png')}}" alt=""> </b>
                    <span class="logo-compact"><img src="{{ url_for('static', filename='images/logo-compact.png') }}" alt="" width="80%"></span>
                    <span class="brand-title">
                        <img src="{{ url_for('static', filename='images/logo-text.png') }}" alt="" width="80%">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">   
            
            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>

            <div class="header-content clearfix">
                
                <div class="header-right">


                    <ul class="clearfix">
                       
                        
                        <li class="icons dropdown">
                            <div    data-toggle="dropdown">
                                <!-- <i class="icon-badge menu-icon"></i> -->
                                <img src="{{ url_for('static', filename='images/user/1.png') }}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="{{ url_for('employee_profile')}}"><i class="icon-user"></i> <span data-lang="profile"></span></a>
                                        </li>
                                        <hr class="my-2">
                                        <li>
                                            <a href="{{url_for('loginEmployee')}}"><i class="icon-lock"></i> <span data-lang="lockscreen"></span></a>
                                        </li>
                                        <li><a href="{{url_for('start')}}"><i class="icon-key"></i> <span data-lang="logout"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                
                        
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label" data-lang="employee"></li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text" data-lang="appointment"></span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{url_for('employee_appo_checkin')}}" data-lang="check-inoffice"></a></li>
                            <li><a href="{{url_for('employee_appo_outpatient')}}" data-lang="out-patientdepartment"></a></li>
                            <li><a href="{{url_for('employee_appo_inpatient')}}" data-lang="in-patientdepartment"></a></li>
                            <li><a href="{{url_for('employee_appo_operation')}}" data-lang="operationdepartment"></a></li>
                            <li><a href="{{url_for('employee_appo_completed')}}" data-lang="completedappointment"></a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text" data-lang="list"></span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{url_for('employee_pets')}}" data-lang="petlist"></a></li>
                            <li><a href="{{url_for('employee_customers')}}" data-lang="customerlist"></a></li>
                            <li><a href="{{url_for('employee_doctors')}}" data-lang="doctorlist"></a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text" data-lang="post"></span>
                        </a>
                        <ul aria-expanded="false">
                            
                            <li><a href="{{url_for('employee_posts')}}" data-lang="viewposts"></a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i> <span class="nav-text" data-lang="store"></span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('addproduct') }}" data-lang="addnewproduct"></a></li>
                            <li><a href="{{ url_for('listproduct') }}" data-lang="manageproducts"></a></li>
                        </ul>
                    </li>


                    <br><br><br>
                    <br><br><br>
                    <li class="nav-label" data-lang="setting"></li>
                    <li ><a  href="javascript:void()" aria-expanded="false"  id="J_lang_switch" >
                        <i class="icon-speedometer menu-icon"></i><span  class="nav-text" data-lang="change"></span></a></li>
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            
            <!-- row -->

            <div class="container-fluid">
                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="alert alert-primary">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <br>
                {% block content %}{% endblock %}
                
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by Group 7 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    

    <script src="{{ url_for('static', filename='plugins/common/common.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gleek.js') }}"></script>
    <script src="{{ url_for('static', filename='js/styleSwitcher.js') }}"></script>

     <!-- I18N -->
     <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
     <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
     <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
     <script src="{{ url_for('static', filename='js/jquery.i18n.properties-1.0.9.js') }}"></script>
     <script src="{{ url_for('static', filename='js/i18.js') }}"></script>


    <script src="{{ url_for('static', filename='plugins/tables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/tables/js/datatable/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/tables/js/datatable-init/datatable-basic.min.js') }}"></script>
     
    <script src="{{ url_for('static', filename='plugins/summernote/dist/summernote.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/summernote/dist/summernote-init.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/dashboard/dashboard-2.js') }}"></script>  

</body>

</html>