{% extends 'employee_loggedin_base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
       
            <div class="card">
                <div class="card-body">
{% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for key, error in form.errors.items() %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}


<form action="/employee_appo_outpatient/operation/{{appoint.id}}" method="POST">
   {{ form.csrf_token }}
         {{ form.hidden_tag() }}
      <p>
         <div class="form-group">
            <span data-lang="date"> form.Odate.label }}</span><br>
    <input name="date" type="date" />
         </div>
			{% for error in form.Odate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
      </p>


      <p>
         <div class="form-group">
            <span data-lang="information">{{ form.Oinf.label }}</span><br>
                {{ form.Oinf }}
         </div>
                {% for error in form.Oinf.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
      </p>



      <p>
         <div class="form-group">
            <span data-lang="cost">{{ form.Ocost.label}}</span><br>
                {{ form.Ocost }}
         </div>
                {% for error in form.Ocost.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
      </p>

<br><br>

    <button class="btn btn-primary" type="submit" data-lang='informcustomer'></button>
    </form>

</div>
</div>
</div>
<div class="row"></div>
</div>


{% endblock %}