{% extends "employee_loggedin_base.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
<div style="background-color: white; width: 70%; margin-left: 200px; box-shadow: gainsboro 2px 2px;
	padding: 20px;">
    {% if emergency_appointments %}
	<h2 style="color: teal;" data-lang="emergencyappointmentsclicktoedit"></h2><br>
		<ul>
		{% for ea in emergency_appointments %}
			<li style="padding: 10px;">
				<span data-lang="petnumber"></span>: {{ ea.Apet }}
                <span data-lang="type"></span>:{{ea.Atype}}
                <span data-lang="doctor"></span>: {{ea.Adoc}}
                <span data-lang="complete"></span>: {{ea.Acomplete}}
                <span data-lang="information"></span>:{{ea.Ainfo}}
                <span data-lang="date"></span>:{{ea.Adate}}
                <span data-lang="cost"></span>:{{ea.Acost}}</a>

            </li>
		{% endfor %}
		</ul>
		<hr>
	{% else %}
	<h4 data-lang="noemergencyappointments">!</h4>
	{% endif %}
	</div>

	<div style="background-color: white; width: 70%; margin-left: 200px; box-shadow: gainsboro 2px 2px;
	padding: 20px;">
	{% if standard_appointments %}
		<span data-lang="standardappointmentsclicktoedit"></span><br><hr>
		<ul>
		{% for sa in standard_appointments %}
			<li style="padding: 10px;"><a href="{{ url_for('ModifyAppointmentEmployee',id=sa.id)}}" >
				<span data-lang="petnumber"></span>: {{ sa.Apet }}
                <span data-lang="type"></span>:{{sa.Atype}}
                <span data-lang="doctor"></span>: {{sa.Adoc}}
                <span data-lang="complete"></span>: {{sa.Acomplete}}
                <span data-lang="information"></span>:{{sa.Ainfo}}
                <span data-lang="date"></span>:{{sa.Adate}}
                <span data-lang="cost"></span>:{{sa.Acost}}</a>

            </li>
		{% endfor %}
		</ul>
		<hr>
	{% else %}
	<h4 data-lang="nostandardappointments">!</h4>
	{% endif %}
	</div>


{% endblock %}
