<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "customer_loggedin_base.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>

	<div align="center">
 <a class="link1" href="{{ url_for('add_pet_information')}}" data-lang="addpetinformation"></a>
    <br>
    <br>
    <a class="link1" href="{{ url_for('customer_my_pets')}}" data-lang="mypets"></a>
    <br>
    <br>

	<a class="link1" href="{{ url_for('make_appointment')}}" data-lang="makeappointment"></a>
    <br><br><br>
    <a class="link1" href="{{ url_for('customer_my_appointments')}}" data-lang="myapppoitment"></a>
        <br><br><br>
    <a class="link1" href="{{ url_for('customer_posts')}}" data-lang="mypost"></a>
        <br><br><br>
    <a class="link1" href="{{ url_for('customer_profile')}}" data-lang="myprofile"></a>


    </div>




{% endblock %}
</body>
</html>