
{% extends "base.html" %}
{% block content %}


	<a class="link1" href="{{ url_for('loggedin_home')}}" data-lang="holiday"></a>
    <a class="link1" href="{{ url_for('loggedin_home')}}" data-lang="birthday"></a>
    <a class="link1" href="{{ url_for('loggedin_home')}}" data-lang="wedding"></a>
    <a class="link1" href="{{ url_for('loggedin_home')}}" data-lang="parties"></a>
    <a class="link1" href="{{ url_for('loggedin_home')}}" data-lang="professional"></a>
    <a class="link1" href="{{ url_for('loggedin_home')}}" data-lang="greetings"></a>
    <a class="link1" href="{{ url_for('loggedin_home')}}" data-lang="flyernew">!</a>




{% endblock %}

