<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
	<div align="center">
 <a class="link1" href="{{ url_for('add_pet_information')}}">Add Pet Information</a>
    <br>
    <br>
    <a class="link1" href="{{ url_for('my_pets_information')}}">My Pets</a>
    <br>
    <br>

	<a class="link1" href="{{ url_for('make_appointment')}}">Make Appointment</a>
    <br><br><br>
    <a class="link1" href="{{ url_for('customer_my_appointments')}}">My Apppoitment</a>
        <br><br><br>
    <a class="link1" href="{{ url_for('customer_posts')}}">My Post</a>

    </div>




{% endblock %}
</body>
</html>