<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style/home.css">
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>pet</title>
        {% endif %}
    </head>
    <body>
        <div>

            <div id="bg">
                <div id="navi"><h1>Healing Paws <br>Veterinary Hospital</h1></div>
                <div id="navibar">
                
                <ul id="barr" aria-orientation="horizontal">
                    <li><a id="cus" href="{{ url_for('customer_mainpage') }}">Customer </a></li>
                    <li><a id="emp" href="{{ url_for('employee_mainpage') }}">Employee </a></li>
                </ul>
                <ul id="bar" aria-orientation="horizontal">
                    <!-- <div id="navibar" aria-orientation="horizontal" align="center"> -->
                    <li><a href="pets_tips.html">Pets Tips</a></li>
                    <li><a href="pet_shop.html">Pets Shop</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li ><a id="homebtn" href="{{ url_for('index') }}">Home</a></li>
                    <!-- </div> -->
                </ul>
                </div>
            </div>

            <div align="right">
                <a href="{{url_for('logoutEmployee')}}">Log out</a>
            </div>
        </div>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

        
<div id="bottom">
    <br><br><br><br><br>
    <p><strong>Contact Us</strong>
        <br><br>Healing Paws Veterinary Hospital
        <br>603 Hampton Pointe Blvd, Suite 603-5
        <br>Hillsborough, NC 27278
    </p>
    <p>
        <br><br>Phone: 919-245-3437
        <br>Fax: 919-245-3502
        <br>Email: healingpaws@thevetspets.com
    </p>
</div>

<br><br><br><br><br><br><br><br>
<p style=" color: gray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin:auto;">
    |  © Healing Paws Veterinary Hospital 2020</p>
    
    <br><br><br><br><br><br>   


    </body>
</html>