<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}


	<a class="link1" href="{{ url_for('loggedin_home')}}">HOLIDAY</a>
    <a class="link1" href="{{ url_for('loggedin_home')}}">BIRTHDAY</a>
    <a class="link1" href="{{ url_for('loggedin_home')}}">WEDDING</a>
    <a class="link1" href="{{ url_for('loggedin_home')}}">PARTIES</a>
    <a class="link1" href="{{ url_for('loggedin_home')}}">PROFESSIONAL</a>
    <a class="link1" href="{{ url_for('loggedin_home')}}">GREETINGS</a>
    <a class="link1" href="{{ url_for('loggedin_home')}}">FLYER NEW!</a>




{% endblock %}
</body>
</html>
