

{% extends "employee_loggedin_base.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
    <a href="{{ url_for('listproduct') }}" data-lang="adminproduct"></a><br>

	<div align="center">
        <br><br><br>
    <a href="{{url_for('employee_appointment')}}"  data-lang="appointment"></a>
    <br><br><br>
       <a href="{{url_for('employee_pets')}}" data-lang="petlist"></a>
    <br><br><br>
           <a href="{{url_for('employee_customers')}}" data-lang="customerlist"></a>
    <br><br><br>
           <a href="{{url_for('employee_doctors')}}" data-lang="doctorlist"></a>
    <br><br><br>
  <a href="{{url_for('employee_posts')}}" data-lang="employeeposts"></a>
    <br><br><br>
            <a class="link1" href="{{ url_for('employee_profile')}}" data-lang="myprofile"></a>

</div>




{% endblock %}

</body>
</html>