
{% extends "senior_loggedin_base.html" %}
{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                     
                        <hr><h1 data-lang="pet"></h1>
                        <fieldset>
                        <legend data-lang="addapet"></legend>
                        <form action="/loggedin_home_senior/add_pet" method="POST">
                        <label data-lang="petname"> </label>
                        <input type="text" name="pet_name" ><br>
                        <label data-lang="petage"></label>
                        <input type="text" name="pet_age" ><br>
                        <label data-lang="petgender"></label>
                        <input type="radio" name="pet_gender" id="pet_gender1" value="1"  ><label for="pet_gender1" data-lang="male"></label>
                        <input type="radio" name="pet_gender" id="pet_gender2" value="2"  ><label for="pet_gender2" data-lang="female"></label><br />
                        <label data-lang="pettype"></label>
                        <input type="radio" name="pet_species" id="pet_species1" value="dog"  ><label for="pet_species1" data-lang="dog"></label>
                        <input type="radio" name="pet_species" id="pet_species2" value="cat"  ><label for="pet_species2" data-lang="cat"></label><br />
                        
                        <label data-lang="petinformation"></label>
                        <input type="text" name="pet_info" ><br>
                        <button type="submit" data-lang='addpet'></button>

                        </form>
                        </fieldset>
                        <br><br>
                        <table class="table">
                            <tbody>

                                <tr>
                                    <th data-lang="petid"></th>
                                    <th data-lang="petname"></th>
                                    <th data-lang="petgender"></th>
                                    <th data-lang="petspecies"> </th>
                                    <th data-lang="information"></th>
                                    <th data-lang="edit"> </th>
                                    <th data-lang="delete"> </th>
                                </tr>


                                {% for pet in pets%}
                                <tr>
                                    <td align="center">{{pet.id}}</td>
                                    <td align="center">{{pet.Pname}}</td>
                                        {% if pet.Psex == '1' %}
                                    <td align="center" data-lang="male"></td>
                                    {% elif pet.Psex == '2' %}
                                    <td align="center" data-lang="female"></td>
                                    {% endif %}
                                    <td align="center">{{pet.Pspecies}}</td>
                                    <td align="center">{{pet.Pinfo}}</td>
                                    <td align="center">
                                        <button  onclick="window.location.href='/loggedin_home_senior/edit_pet/{{pet.id}}'" data-lang="edit"></button>
                                    </td>
                                    <td align="center">
                <a href="{{ url_for('senior_delete_pet', id=pet.id) }}"><button  data-lang="delete"></button>

                </a>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table> 
                    </div>      
                </div>
                   
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                     
                        <hr><h1 data-lang="appointment"></h1>
                        <fieldset id="abc">
                            <legend data-lang="emergencyappointment"></legend>
                                <form action="/loggedin_home_senior/emergency_appointment" method="POST">
                                    <p>
                                        <div id="pet">
                                    <label data-lang="petname">(Please double-click the blank to select one from your pet): </label><br>
                                    <input list="petname" name="pet name" >
                                    <datalist id="petname">
                                        {% for pet in pets %}
                                        <option value="{{pet.Pname}}"><br>
                                        {% endfor %}<br>
                                    </datalist><br></div>
                                    </p>
                            
                                    <p>
                                        <div id="chooseposition">
                                        <label data-lang="chooseposition">: </label><br>
                                    <input type="radio" value="Beijing" name="location" checked="checked" >Beijing
                                    <input type="radio" value="Shanghai" name="location" >Shanghai
                                    <input type="radio" value="Chengdu" name="location" >Chengdu<br>
</div>
                                    </p>
                                    <p>
                                        <div id="datetime">
                                        <label data-lang="inputdatetime">: </label><br>
                                    <input type="date" name="date"></div>
                                    </p>
                                    <p>
                                        <div id="doctor">
                                        <label  data-lang="choosedoctor">: </label><br>
                                        {% for d in doctors%}
                                        <input type="radio" name="doctor" value="{{d.Dname}}">{{d.Dname}}
                                        {% endfor %}
                                  <br></div>

                                    </p>
                                    <p>
                                        <div id="otherdescription">
                                        <label data-lang="otherdescription">: </label><br>
                                    <input type="text" name="information"><br></div>
                                    </p>
                                    <button type="submit" data-lang="eappsub"></button>

                                </form>
                        </fieldset>
                        <fieldset>
                            <legend data-lang="standardappointment"></legend>
                                <form action="/loggedin_home_senior/standard_appointment" method="POST">
                                    <p>
                                        <div id="pet">
                                    <label data-lang="petname">(Please double-click the blank to select one from your pet): </label><br>
                                    <input list="petname" name="pet name" >
                                    <datalist id="petname">
                                        {% for pet in pets %}
                                        <option value="{{pet.Pname}}"><br>
                                        {% endfor %}<br>
                                    </datalist><br></div>
                                    </p>
                            
                                    <p>
                                        <div id="chooseposition">
                                        <label data-lang="chooseposition">: </label><br>
                                    <input type="radio" value="Beijing" name="location" checked="checked" >Beijing
                                    <input type="radio" value="Shanghai" name="location" >Shanghai
                                    <input type="radio" value="Chengdu" name="location" >Chengdu<br>
</div>
                                    </p>
                                    <p>
                                        <div id="datetime">
                                        <label data-lang="inputdatetime">: </label><br>
                                    <input type="date" name="date"></div>
                                    </p>
                                    <p>
                                        <div id="doctor">
                                        <label  data-lang="choosedoctor">: </label><br>
                                        {% for d in doctors%}
                                        <input type="radio" name="doctor" value="{{d.Dname}}">{{d.Dname}}
                                        {% endfor %}
                                  <br></div>

                                    </p>
                                    <p>
                                        <div id="otherdescription">
                                        <label data-lang="otherdescription">: </label><br>
                                    <input type="text" name="information"><br></div>
                                    </p>
                                    <button type="submit" data-lang="sappsub"></button>


                                </form>
                                </form>
                        </fieldset>
                        <br><br><br>
                        <table class="table">
                                <tbody>

                                    <tr>
                                        <th data-lang="appointmentid"></th>
                                        <th data-lang="date"></th>
                                        <th data-lang="petname"></th>
                                        <th data-lang="type"> </th>
                                        <th data-lang="appointmentsinformation"></th>
                                        <th data-lang="operationstatus"></th>
                                        <th data-lang="hospitalizationstatus"> </th>
                                        <th data-lang="change"></th>
                                        <th data-lang="permission"></th>
                                    </tr>

                                    {% for a in appoints%}
                                    {% for pet in pets%}
                                    {%  if a.Apet==pet.id %}
                                    <tr>
                                        <td align="center">{{a.id}}</td>
                                        <td align="center">{{a.Adate}}</td>
                                        <td align="center">{{pet.Pname}}</td>
                                        {% if a.Atype == '1' %}
                                        <td align="center" data-lang="standard"></td>
                                        {% elif a.Atype == '0' %}
                                        <td align="center" data-lang="emergent"></td>
                                        {% endif %}
                                        <td align="center">{{a.Ainfo}}</td>
                                        <td align="center">{{ a.OperationStatus }}</td>
                                        <td align="center">{{a.HospitalizationStatus}}</td>
                                        <td align="center">
                                            <button  onclick="window.location.href='/loggedin_home_senior/edit_appoint/{{a.id}}'" data-lang="edit"></button>
                                            <button  onclick="window.location.href='/loggedin_home_senior/delete_appoint/{{a.id}}'"  data-lang="delete"></button>
                                        </td>
                                        <td align="center">
                                            <button  onclick="window.location.href='/loggedin_home_senior/operation/{{a.id}}'" data-lang="surgery"></button>
                                            <button  onclick="window.location.href='/loggedin_home_senior/inpatient/{{a.id}}'"  data-lang="inhospital"></button>
                                            <button  onclick="window.location.href='/loggedin_home_senior/release/{{a.id}}'"  data-lang="release"></button>

                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}

                                </tbody>
                        </table>

                    </div>      
                </div>
                   
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                     
                       
                        <h1 data-lang="post"></h1>
                        <fieldset>
                            <legend data-lang="addapost"></legend>
                                <form action="/loggedin_home_senior/write_post" method="POST">
                                <label data-lang="topic"> </label>
                                <input type="text" name="topic" ><br>
                                <label data-lang="content"></label>
                                <input type="text" name="content" ><br>
                                <button type="submit" data-lang="submitpost"></button>

                                </form>
                        </fieldset>
                        {% if unread_posts %}
                        <h2 data-lang="unreadposts"> </h2>
                        <div class="text">
                        <table class="unread post">
                                            <tbody>

                                                <tr>
                                                    <th align="center" data-lang="postid"></th>
                                                    <th align="center" data-lang="date"></th>
                                                    <th align="center" data-lang="posttopic"></th>
                                                    <th align="center" data-lang="postcontent"> </th>
                                                </tr>
                                                    {% for unread_post in unread_posts%}

                                            <tr>
                                                    <td align="center">{{unread_post.id}}</td>
                                                    <td align="center">{{unread_post.Pdate}}</td>
                                                    <td align="center">{{unread_post.Ptopic}}</td>
                                                    <td align="center">{{unread_post.Pcontent}} </td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                        </table>

                        {% else %}
                        <p data-lang="nounreadposts"></p>
                        {% endif %}

                        {% if read_posts %}
                        <h2 data-lang="readposts"></h2>
                        <div class="text">
                            <table class="unread post">
                                                <tbody>

                                                    <tr>
                                                        <th data-lang="postid"></th>
                                                        <th data-lang="date"></th>
                                                        <th data-lang="posttopic"></th>
                                                        <th data-lang="postcontent"> </th>
                                                    </tr>
                                                        {% for unread_post in unread_posts%}

                                                <tr>
                                                        <td>{{read_posts.id}}</td>
                                                        <td>{{read_posts.Pdate}}</td>
                                                        <td>{{read_posts.Ptopic}}</td>
                                                        <td>{{read_posts.Pcontent}} </td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>
                            </table>

                        {% else %}
                        <p data-lang="noreadposts"></p>
                        {% endif %}

                        </div>
    
                                
                                    
                            
                        </div>

                    </div>      
                </div>
                   
            </div>
        </div>
    </div>
</div>






{% endblock %}

</body>
</html>