<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back</title>
</head>
<body>

{% extends "loggedin_index.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
    <a href="{{ url_for('listproduct') }}">Admin product</a><br>

	<div align="center">
        <br><br><br>
    <a href="{{url_for('employee_appointment')}}">Appointment</a>
    <br><br><br>
       <a href="{{url_for('employee_pets')}}">Pet List</a>
    <br><br><br>
           <a href="{{url_for('employee_customers')}}">Customer List</a>
    <br><br><br>
           <a href="{{url_for('employee_doctors')}}">Doctor List</a>
    <br><br><br>
  <a href="{{url_for('employee_posts')}}">Employee Posts</a>
    <br><br><br>
</div>




{% endblock %}

</body>
</html>