<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base_chinese.html" %}
{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
	<div align="center">
    <a class="link1" href="{{ url_for('add_pet_information_chinese')}}">添加宠物信息</a>
    <br>
    <br>
    <a class="link1" href="{{ url_for('customer_my_pets_chinese')}}">我的宠物</a>
    <br>
    <br>
	<a class="link1" href="{{ url_for('make_appointment_chinese')}}">预约医生</a>
    <br>
    <br>
    <a class="link1" href="{{ url_for('customer_my_appointments_chinese')}}">我的预约</a>
    <br>
    <br>
    <a class="link1" href="{{ url_for('customer_posts_chinese')}}">我的留言</a>

    </div>

{% endblock %}
</body>
</html>