
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Log in</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="../static/css/style.css" rel="stylesheet">
    
</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">

        
                                <!-- <form class="mt-5 mb-5 login-input">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign In</button>
                                </form> -->

                          
                                    <h2 data-lang="login">Log In</h2>
                                    <form class="mt-5 mb-5 login-input"
                                    action="" method="post" novalidate>
                                    {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for key, error in form.errors.items() %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
                                        {{ form.hidden_tag() }}
                                        <p class="form-group">
                                            <span data-lang="username">{{ form.Eusername.label }}</span><br>
                                            {{ form.Eusername(class="form-control") }}
                                            
                                            {% for error in form.Eusername.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                            
                                        </p>
                                        <p class="form-group">
                                            <span data-lang="password">{{ form.Epassword.label }}</span><br>
                                            {{ form.Epassword(class="form-control") }}
                                            
                                            {% for error in form.Epassword.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                            
                                        </p>
                                        <!-- <p>{{ form.Eremember_me() }} 
                                            <span data-lang="rememberme">{{ form.Eremember_me.label }}</span></p>
                                         -->
                                        <button class="btn login-form__btn submit w-100" data-lang="login">{{ form.Esubmit() }}</button>
                                    </form>
                                

                                <p class="mt-5 login-form__footer"><span data-lang="haveaccount"></span>
                                
                                    <a href="{{ url_for('signupEmployee') }}" class="text-primary"><span data-lang="signup"></span></a>
                                     <span data-lang="now"></span></p>
                                     
                                     <div class="row">
                                        <div class="col">
                                     <button style="width: 100%;" type="button" onclick="window.location.href='/'"  class="btn mb-1 btn-flat btn-outline-primary" data-lang="home2"></button>
                                    </div>
                                     <div class="col">
                                     <button style="width: 100%;" type="button" id="J_lang_switch" class="btn mb-1 btn-flat btn-outline-secondary" data-lang="change"></button>
                                         </div>
                                         
                                     </div>
                                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../static/plugins/common/common.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/gleek.js"></script>
    <script src="../static/js/styleSwitcher.js"></script>

     <!-- I18N -->
     <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
     <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
     <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
     <script src="{{ url_for('static', filename='js/jquery.i18n.properties-1.0.9.js') }}"></script>
     <script src="{{ url_for('static', filename='js/i18.js') }}"></script>

</body>
</html>





