{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.Cusername.label }}<br>
            {{ form.Cusername(size=32) }}
			
			{% for error in form.Cusername.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			
        </p>
        <p>
            {{ form.Cpassword.label }}<br>
            {{ form.Cpassword(size=32) }}
			
			{% for error in form.Cpassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			
        </p>
        <p>{{ form.Cremember_me() }} {{ form.Cremember_me.label }}</p>
        <p>{{ form.Csubmit() }}</p>
    </form>
{% endblock %}