<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Appointment</title>
</head>
<body>
    {% extends "customer_loggedin_base.html" %}
    {% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            
                     
                                
                                 
                                <h1 align="center">Please Fill Out Some Information</h1>

                                <form action='/Make Appointment' method="POST">
                                    <p>
                                        <div id="pet">
                                    <label data-lang="petname">(Please double-click the blank to select one from your pet): </label><br>
                                    <input list="petname" name="pet name" >
                                    <datalist id="petname">
                                        {% for pet in pets %}
                                        <option value="{{pet.Pname}}"><br>
                                        {% endfor %}<br>
                                    </datalist><br></div>
                                    </p>
                            
                                    <p>
                                        <div id="ownerphone">
                                        <label data-lang="ownerphone">: </label><br>
                                    <input type="text" name="phone"><br></div>

                                    </p>
                            
                                    <p>
                                        <div id="type">
                                        <label data-lang="type">: </label><br>
                                    <input type="radio" name="type" value="0" data-lang="emergency"><br>
                                    <input type="radio" name="type" value="1" data-lang="standard"><br></div>

                                    </p>
                            
                                    <p>
                                        <div id="chooseposition">
                                        <label data-lang="chooseposition">: </label><br>
                                    <input type="radio" value="Beijing" name="location" checked="checked" >Beijing<br>
                                    <input type="radio" value="Shanghai" name="location" >Shanghai<br>
                                    <input type="radio" value="Chengdu" name="location" >Chengdu<br>
</div>
                                    </p>
                                    <p>
                                        <div id="datetime">
                                        <label data-lang="inputdatetime">: </label><br>
                                    <input type="date" name="date"></div>
                                    </p>
                                    <p>
                                        <div id="doctor">
                                        <label  data-lang="choosedoctor">: </label><br>
                                        {% for d in doctors%}
                                        <input type="radio" name="doctor" value="{{d.Dname}}">{{d.Dname}}<br>
                                        {% endfor %}
                                  <br></div>

                                    </p>
                                    <p>
                                        <div id="otherdescription">
                                        <label data-lang="otherdescription">: </label><br>
                                    <input type="text" name="information"><br></div>
                                    </p>
                                    <input type="submit" value="Submit">}<br>
                                </form>    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>