<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Appointment</title>
</head>
<body>
    {% extends "customer_loggedin_base.html" %}
    {% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">




                                <h1 align="center">请填写一些信息</h1>

                                <form action='/Make Appointment' method="POST">
                                    <p>
                                        <div id="pet">
                                    <label>宠物名称(请双击空格从您的宠物中选择一个) </label><br>
                                    <input list="petname" name="pet name" >
                                    <datalist id="petname">
                                        {% for pet in pets %}
                                        <option value="{{pet.Pname}}"><br>
                                        {% endfor %}<br>
                                    </datalist><br></div>
                                    </p>

                                    <p>
                                        <div id="ownerphone">
                                        <label>顾客电话： </label><br>
                                    <input type="text" name="phone"><br></div>

                                    </p>

                                    <p>
                                        <div id="type">
                                        <label>类型: </label><br>
                                    <input type="radio" name="type" value="0">紧急<br>
                                    <input type="radio" name="type" value="1">标准<br></div>

                                    </p>

                                    <p>
                                        <div id="chooseposition">
                                        <label>选择位置: </label><br>
                                    <input list="locationlist" name="location">
                                    <datalist id="locationlist">
                                        <option value="Shanghai">
                                        <option value="Beijing">
                                        <option value="Chengdu">
                                    </datalist><br></div>
                                    </p>
                                    <p>
                                        <div id="datetime">
                                        <label>输入日期时间(格式:YYYY-MM-DD HH:MM): </label><br>
                                    <input type="text" name="date"></div>
                                    </p>
                                    <p>
                                        <div id="doctor">
                                        <label>选择医生: </label><br>
                                        {% for d in doctors%}
                                        <input type="radio" name="doctor" value="{{d.Dname}}">{{d.Dname}}<br>
                                        {% endfor %}
                                  <br></div>

                                    </p>
                                    <p>
                                        <div id="otherdescription">
                                        <label>其他信息: </label><br>
                                    <input type="text" name="information"><br></div>
                                    </p>
                                    <input type="submit" value="提交">}<br>
                                </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>