<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<h2 >{{ mes }}</h2>
      <button  onclick="window.location.href='{{url_for('add_pet_information')}}'">Add a pet.</button>

<h4>{{ pets|length}} pets:</h4>
    {% for pet in pets %}
        <div class="pets">
            <p>--------------------------------------------------------------</p>
            <p>Pet Name :         {{ pet.Pname }}</p>
            <p>Pet gender :         {{ pet.Psex }}</p>
            <p>Pet age :         {{ pet.Page }}</p>
            <p>Pet species :         {{ pet.Pspecies }}</p>
            <p>Pet information :         {{ pet.Pinfo }}</p>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>