{% extends 'customer_loggedin_base.html' %}
{% block content %}

<h1 data-lang="orderdetail"></h1>
<div data-lang="name"></div>
<div>{{ order.Oname }}</div>
<div data-lang="status"></div>
<div>{{ order.Ostate }}</div>
<div data-lang="price"></div>
<div>{{ order.Oprice }}</div>
<div data-lang="address"></div>
<div>{{ order.Oaddress }}</div>
<div data-lang="phonenumber"></div>
<div>{{ order.Ophonenumber }}</div>
<table style="width: 30%; margin-left: 400px; font-size: larger; color: teal; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
	<tr>
		<th data-lang="goodid"></th>
		<th data-lang="number"></th>
	</tr>
	<br><br><br><br>
	{% for GORelation in relationships %}
	<tr>
		<td>
			<a href="{{ url_for('detail', id = GORelation.Goodid) }}">{{ GORelation.Goodid }}</a>
		</td>
		<td>{{ GORelation.number }}</td>
	</tr>
	{% endfor %}	
</table>

{% endblock %}
