<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Procedure</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/still/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/still/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/still/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/still/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/still/css/themify-icons.css">
    <link rel="stylesheet" href="../static/still/css/nice-select.css">
    <link rel="stylesheet" href="../static/still/css/flaticon.css">
    <link rel="stylesheet" href="../static/still/css/gijgo.css">
    <link rel="stylesheet" href="../static/still/css/animate.min.css">
    <link rel="stylesheet" href="../static/still/css/slick.css">
    <link rel="stylesheet" href="../static/still/css/slicknav.css">
    <link rel="stylesheet" href="../static/still/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{{ url_for('start') }}">
                                    <img src="../static/still/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu  d-none d-lg-block text-center">
                                <nav>
                                    <ul id="navigation">
                                        <li><a  href="{{ url_for('procedure') }}" data-lang="procedure"></a></li>
                                      
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-end">
                                <a data-scroll-nav="0" class="say_hi" id="J_lang_switch" data-lang="change"></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- portfolio_details_banner_start  -->
    <div class="portfolio_details_banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="details_info ">
                        <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s" data-lang="pdtitle"></h3>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio_details_banner_end  -->

    <div class="portfolio_details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="banner wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <img src="../static/still/img/portfolio_details/mainPic1.jpg" alt="">
                    </div>
                    <div class="details_text">
                        <div class="row">
                            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <p data-lang="etip1"></p>
                                <p data-lang="etip2"></p>
                                <p data-lang="etip3"></p>
                            </div>
                            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <p data-lang="ctip1"></p>
                                <p data-lang="ctip2"></p>
                                <p data-lang="ctip3"></p>
                            </div>
                        </div>
                    </div>
                    <div class="thumbs">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                    <img src="../static/still/img/portfolio_details/1.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                                    <img src="../static/still/img/portfolio_details/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- testimonial_area  -->
   
    <!-- /testimonial_area  -->

   


    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3">
                        <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                            <a href="{{ url_for('start') }}">
                                <img src="../static/still/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-9">
                        <div class="menu_links">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="socail_links">
                            <ul>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="https://www.facebook.com/healingpawspetcare"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="https://twitter.com/healing_paws_gr"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="https://www.instagram.com/healingpawscenter954/?hl=en"> <i class="fa fa-instagram"></i> </a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- JS here -->
    <script src="../static/still/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../static/still/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/still/js/popper.min.js"></script>
    <script src="../static/still/js/bootstrap.min.js"></script>
    <script src="../static/still/js/owl.carousel.min.js"></script>
    <script src="../static/still/js/isotope.pkgd.min.js"></script>
    <script src="../static/still/js/ajax-form.js"></script>
    <script src="../static/still/js/waypoints.min.js"></script>
    <script src="../static/still/js/jquery.counterup.min.js"></script>
    <script src="../static/still/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/still/js/scrollIt.js"></script>
    <script src="../static/still/js/jquery.scrollUp.min.js"></script>
    <script src="../static/still/js/wow.min.js"></script>
    <script src="../static/still/js/nice-select.min.js"></script>
    <script src="../static/still/js/jquery.slicknav.min.js"></script>
    <script src="../static/still/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/still/js/plugins.js"></script>
    <script src="../static/still/js/gijgo.min.js"></script>

   

    <script src="../static/still/js/main.js"></script>


    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.i18n.properties-1.0.9.js') }}"></script>
    <script src="{{ url_for('static', filename='js/i18.js') }}"></script>

</body>

</html>