{% extends 'senior_loggedin_base.html' %}
{% block content %}
<h1>&nbsp</h1>
{% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for key, error in form.errors.items() %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
 <form action='/senior_profile' method="POST">
    <label data-lang="phone">Phone : </label>
    <input type="text" name="phone" value="{{customer.Cphone}}"><br>
       <label data-lang="gender"> Gender: </label><br>
     {% if customer.Cgender=='0' %}
     <input type="radio" name="gender" value="0" checked="checked" data-lang="male"><label for="male" data-lang="male"></label><br>
     <input type="radio" name="gender" value="1" data-lang="female"><label for="female" data-lang="female"></label><br>
       {% else %}
       <input type="radio" name="gender" value="0" data-lang="male"><label for="male" data-lang="male"></label><br>
       <input type="radio" name="gender" value="1"  checked="checked" data-lang="female"><label for="female" data-lang="female"></label><br>
        {% endif %}

    <label data-lang="email">Email : </label>
     <input type="text" name="email" value="{{customer.Cemail}}"><br>
  <input type="submit" value="Reset">
   </form>
{% endblock %}
</body>
</html>