
{% extends "base.html" %}

{% block content %}
<h1>&nbsp</h1>
<h1>&nbsp</h1>
<h1 style="margin-left: 500px;" >Log In</h1>
<div style="margin: auto; align-self: center;">
<form action="/senior_mainpage" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.Cusername.label }}<br>
            {{ form.Cusername(size=32) }}

			{% for error in form.Cusername.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.Cpassword.label }}<br>
            {{ form.Cpassword(size=32) }}

			{% for error in form.Cpassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>{{ form.Cremember_me() }} {{ form.Cremember_me.label }}</p>
        <p>{{ form.Csubmit() }}</p>

    </form>
        <a href="{{ url_for('signupSenior') }}">
            Sign up </a>
    <a href="{{ url_for('shoppage') }}" >
            Store </a>
        </li>
    </div>
<div id="main">



    
    
    </div>
<br><br><br>
{% endblock %}
