{% extends 'loggedin_index.html' %}
{% block title %}
    <title>Edit Pet</title>
{% endblock %}
{% block content %}
 <form action='/loggedin_home_senior/edit_pet/{{pet.id}}' method="POST">

    <label data-lang="petname">: </label>
    <input type="text" name="name" value="{{pet.Pname}}"><br>
       <label data-lang="petage">: </label>
    <input type="text" name="age" value="{{pet.Page}}"><br>
    <label data-lang="petgender1formale2forfemale"></label>
    <input type="text" name="gender" value="{{pet.Psex}}"><br>
       <label data-lang="petspecies">: </label>
    <input list="specieslist" name="species" value="{{pet.Ptype}}">
		<datalist id="specieslist">
		    <option value="Cat">
            <option value="Dog">
		</datalist><br>
    <label data-lang="petinformation"> </label>
    <input type="text" name="information" value="{{pet.Pinfo}}"><br>
  <input type="submit" value="Submit">
   </form>
{% endblock %}