{% extends 'base.html' %}
{% block content %}

<a href="{{ url_for('shopcart') }}">Shop Cart</a><br>
<a href="{{ url_for('orders') }}">Order</a>

<table style="width: 30%; margin-left: 400px; font-size: larger; color: teal; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Price</th>
	</tr>
	<br><br><br><br>
	{% for Good in goods %}
	<tr>
		<td>
			<img src="{{ url_for('static', filename= './img/photos/' + Good.Gimage) }}" width="100" height="100">
		</td>
		<td>{{ Good.Gname }}</td>
		<td>{{ Good.Gprice }}</td>
		<td>
			<a href="{{ url_for('detail', id = Good.id) }}">Detail</a>
		</td>
	</tr>
	{% endfor %}	
</table>

{% endblock %}