<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">
    
</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                
                                    <!-- <a class="text-center" href="index.html"> <h4>Rosella</h4></a>
        
                                <form class="mt-5 mb-5 login-input">
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control"  placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign in</button>
                                </form>
                                    <p class="mt-5 login-form__footer">Have account <a href="page-login.html" class="text-primary">Sign Up </a> now</p>
                                    </p>
                                </div> -->
                                <h2 class="text-center" data-lang="signup"></h2>
                                <form method="post" class="mt-5 mb-5 login-input">
    {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        {% if form and form.errors %}
            {% for key, error in form.errors.items() %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
                                    {{ form.csrf_token}} <!-- render hidden token -->
                                    
                                            <div id="Cusername" class="form-group">
                                            {{ form.Cusername.label }}
                                            <span class="form-control">{{ form.Cusername }}
                                            </span>
                                            {% for error in form.Cusername.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                            <br>
                                        
                                
                                            <div id="Cphone" class="form-group">
                                                {{ form.Cphone.label }} 
                                                <span class="form-control">{{ form.Cphone }}</span>
                                                {% for error in form.Cphone.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                                <br>
                                        
                                
                                   
                                        <div id="Cgender" class="form-group">
                                            {{ form.Cgender.label }}
                                                {% for choice in form.Cgender %}
                                                    <tr>
                                                        <td>{{ choice }}</td>
                                                        <td>{{ choice.label }}</td>
                                                    </tr>
                                                {% endfor %}
                                        
                                                {% for error in form.Cgender.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                                <br>
                                
                                            <div id="Cemail" class="form-group">
                                                {{ form.Cemail.label}}
                                                <span class="form-control"> {{ form.Cemail }}</span>
                                                {% for error in form.Cemail.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                                <br>
                                    
                                    
                                            <div id="Cpassword" class="form-group">
                                                {{ form.Cpassword.label}}
                                                <span class="form-control">{{ form.Cpassword }}</span>
                                                {% for error in form.Cpassword.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                                <br>
                                    
                                    
                                            <div id="Cpassword2" class="form-group">
                                                {{ form.Cpassword2.label}} 
                                                <span class="form-control">{{ form.Cpassword2 }}</span>
                                                {% for error in form.Cpassword2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                            </div>
                                                <br>
                                      
                                    <div class="form-group">
                                        {{ form.Caccept_rules }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span style="color: rgb(136, 56, 3);">{{ form.Caccept_rules.label }}</span>
                                
                                    </div>
                                     <br>
                                
                                
                                    <div class="btn login-form__btn submit w-100">
                                    
                                    <button id="sub">{{ form.Csubmit }}
                                        </button>
                                        </div>
                                
                                        <br><br><br><br>
                                
                                </form>
                                <p class="mt-5 login-form__footer">Have account? <a href="{{ url_for('loginCustomer') }}" class="text-primary">Log in </a> now</p>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../static/plugins/common/common.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/gleek.js"></script>
    <script src="../static/js/styleSwitcher.js"></script>
</body>
</html>





